@import "~variables.less";

@autocomplete-dropdown-width: 20px;
@autocomplete-dropdown-height: 18px;
@party-item-padding: 5px;

.autocomplete-control-container {
    display: inline-block;
    width: 100%;

    .autocomplete-control-box {
        width: 100%;
        position: relative;
        .btn {
            position: absolute;
            top: 3px;
            right: 3px;
            border: none;
            padding: 0;
            height: 16px;
            line-height: 16px;
            .icon {
                height: 16px;
                line-height: 16px;
                width: 16px;
            }
        }

        .form-group {
            width: 100%;
            input {
                padding-right: @autocomplete-dropdown-width;
                width: 100%;
            }
            display: inline-block;
        }
    }
    
    .autocomplete-menu-container {
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
        background: white;
        z-index: 1000;
        position: fixed;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 200px;
        min-height: 30px;
        max-width: 600px;
        min-width: 200px;
        border: 1px solid #bfbfbf;

        .autocomplete-menu {
            display: table;
            height: 100%;

            .item {
                display: table-row;
                width: calc(~'100% - 20px');

                &.active {
                    font-weight: bold;
                }
                &.focus {
                    background: #afafaf;
                }
            }
        }
        .autocomplete-menu-footer {
            height: 32px;
            background: #cfcfcf;
        }
        .autocomplete-menu-header {
            height: 32px;
            background: #cfcfcf;
        }
        &.has-header .autocomplete-menu {
            height: calc(~"100% - 32px");
        }
        &.has-footer .autocomplete-menu {
            height: calc(~"100% - 32px");
        }
        &.has-header.has-footer .autocomplete-menu {
            height: calc(~"100% - 64px");
        }

        .autocomplete-menu-footer {

            background-color: @node-form-bg;
            //position: relative;

            .create-party {
                position: fixed;
                padding: 5px;
                .create-party-label {
                    margin-left: 3px;
                }
            }
        }
    }
}
