@import "~variables.less";

@autocomplete-dropdown-width: 35px;
@autocomplete-dropdown-height: 18px;
@party-item-padding: 5px;
@autocomplete-tree-depth: 14px;

.autocomplete-control-container {
    width: 100%;
}
.autocomplete-control-box {
    width: 100%;
    display: inline-block;
    margin-left: -1px;

    .autocomplete-input-container {
        width: 100%;
        position: relative;

        .btn {
            position: absolute;
            top: 3px;
            right: 3px;
            border: none;
            padding: 0;
            height: 16px;
            line-height: 16px;

            &.detail {
                right: 19px;
            }

            .icon {
                height: 16px;
                line-height: 16px;
                width: 16px;
            }
        }
    }

    .form-group {
        width: 100%;
        input {
            padding-right: @autocomplete-dropdown-width;
            width: 100%;
        }
        display: inline-block;
    }
}

.autocomplete-menu-container {
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    background: white;
    border: 1px solid #bfbfbf;
    position: fixed;
    z-index: 9999;

    .autocomplete-menu-wrapper {
        max-height: 160px;
        max-width: 600px;
        min-width: 200px;
        overflow-y: auto;
        overflow-x: hidden;

        .autocomplete-menu {
            height: 100%;
            padding-right: 20px;
            width: 100%;

            .item {
                width: 100%;

                &.depth-0 {
                    padding-left: 0*@autocomplete-tree-depth;
                }
                &.depth-1 {
                    padding-left: 1*@autocomplete-tree-depth;
                }
                &.depth-2 {
                    padding-left: 2*@autocomplete-tree-depth;
                }
                &.depth-3 {
                    padding-left: 3*@autocomplete-tree-depth;
                }
                &.depth-4 {
                    padding-left: 4*@autocomplete-tree-depth;
                }
                &.depth-5 {
                    padding-left: 5*@autocomplete-tree-depth;
                }

                cursor: pointer;
                &.not-selectable {
                    cursor: default;
                    .item-text {
                        color: #808080;
                    }
                }
                &.not-focusable {
                    cursor: default;
                    .item-text {
                        color: silver;
                    }
                }

                .node-expand-collapse {
                    cursor: default;
                    width: 20px;
                    display: inline-block;
                    //width: 16px;
                    padding: 0px 4px 0px 5px;
                    vertical-align: middle;
                    &.expanded {
                    }
                    &.collapsed {
                    }
                }

                &.active {
                    font-weight: bold;
                }
                &.focus {
                    background: #afafaf;
                }
                &.focus.not-focusable {
                //&.focus.not-selectable {
                    background: transparent;
                }
            }
        }
    }

    .autocomplete-menu-footer {
        height: 32px;
        background: #cfcfcf;
    }
    .autocomplete-menu-header {
        height: 32px;
        background: #cfcfcf;
    }
    &.has-header .autocomplete-menu {
        height: calc(~"100% - 32px");
    }
    &.has-footer .autocomplete-menu {
        height: calc(~"100% - 32px");
    }
    &.has-header.has-footer .autocomplete-menu {
        height: calc(~"100% - 64px");
    }

    .autocomplete-menu-footer {

        background-color: @node-form-actions-bg;
        //position: relative;
    }
}
