.detail-item {
    display: table-row;
    padding: 3px;

    .detail-cell {
        display: table-cell;
        &.header {
            font-size: 11px;
            // margin-bottom: 4px;
            margin-right: 10px;
            font-weight: bold;
            text-align: right;
            flex-shrink: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &.detail-item-content {
        }
    }

    .detail-item-content-value {
        display: flex;
        align-items: center;
        white-space: pre-wrap;

        .sync-wrapper {
            padding: 0 10px;
        }
    }
    .actions {
        display: flex;
        align-items: center;
        margin-left: 5px;
        margin-right: 5px;
        overflow: hidden;
        flex-shrink: 0;

        &.hidable {
            width: 0px;
        }

        .info-icon {
            margin: 2px;
            padding: 3px;
        }
    }
}
