@import "../../../../variables.scss";

.sync-icon {
    display: flex;
    align-items: center;
    font-size: 0.6em;

    .sync {
        &.not-synced {
            // color: #b83131;
            color: $color-red;
        }
        &.sync-ok {
            // color: #3fba3f;
            color: $color-green;
        }
        &.local-change {
            // color: #eab304;
            // color: #e0e300;
            // color: #e7d704;
            color: $color-yellow;
        }
    }
}
