@import "../../../variables.scss";

.not-selected {
    text-align: center;
    height: 100%;
    border-right: 1px solid $border-color;
}

.aip-explorer {
    border: 1px solid $border-color;
    height: 100%;
    overflow: hidden;
    word-wrap: break-word;
    flex-grow: 1;

    .detail-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }


    .modal-dialog {
        max-width: 95vw;
    }
    .modal-content {
        height: 90vh;
        // display: flex;
    }


    // .modal-body {
    //     padding: 0;
    // }

    .navigation-item {
        color: $fg-color;
        cursor: pointer;
        text-decoration: none;
    }

    .splitter-container {
        .splitter-left {
            border-right: $color-grey 1px solid;
        }
    }

}

