.aip-explorer {
    .detail-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }
    .modal-dialog {
        max-width: 95vw;
    }
    word-wrap: break-word;
}

