@import "../../../variables.scss";

.aip-explorer {
    .detail-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }

    .modal-dialog {
        max-width: 95vw;
    }
    .modal-body {
        padding: 5px;
    }

    .navigation-item {
        color: $fg-color;
        cursor: pointer;
        text-decoration: none;
    }

    word-wrap: break-word;
}

