@import "/variables.less";

.horizontal-splitter-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .splitter-left, .splitter-right, .splitter-center {
        width: 100%;
    }
    .splitter-bottom {
        min-height: 220px;
        height: 220px;
        .tab-content {
            border-right: none;
        }
        .tabs-tabs-container {
            li {
                //margin-left: -1px;
            }
        }
    }
    .splitter-top {
        flex: 1 0;
        display: flex;
    }
}
