.filterable-listbox-container {
    .search-action-container {
        display: flex;
        justify-content: space-between;

        .search-container {
            width: 300px;
        }
    }
    .listbox-item {
        white-space: nowrap;

        .checkbox-item {
            .checkbox {
                margin: 0;
                label {
                    cursor: default;
                }
                display: inline-block;
                vertical-align: middle;
                label {
                    margin-top: 0;
                    width: 100%;
                    input {
                        padding: 2px;
                        margin-left: -18px;
                    }
                }
            }
        }
    }
}
