@import "../../../variables.scss";

.web-socket {

    .disconnect {

        position: fixed;
        padding: 0;
        margin: 0;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background:rgba(0,0,0,0.5);

        .dialog {
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            .title {
                font-weight: bold;
                display: block;
                margin-top: 20px;
            }

            .message {

            }

            text-align: center;

            width: 200px;
            height: 100px;
            background-color: white;
        }

        z-index: 1051;

    }

}
