.advanced-rights-container {
    .admin-rights-content {
        .admin-rights-right {
            display: flex;
            flex-direction: row;

            .permission-checkbox-form {
                overflow-y: auto;
                width: 50%;
            }
            .controlled-entities-container {
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;

                .controlled-entities {
                    height: 100%;
                }
            }
        }
    }
}
