.permissions-container {
    .permission-container {
        max-width: 800px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        margin: 2px 0;

        .form-group {
            flex-grow: 1;
            width: 100%;
            margin-left: 6px;
            &:first-child {
                margin: 0
            }
        }
    }
}