.user-detail-container {
    padding: 10px;

    .user-groups-container {
        .groups-list-container {
            .group {
                display: flex;
                flex-direction: row;
            }
        }
    }
}