@import "../../../variables.scss";

$tabs-height: 28px;

.tabs-container {
    height: 100%;
    position: relative;
    padding-top: 5px;
    display: block;

    .nav-tabs {
        border-bottom-color: $tabs-tab-content-border;
    }

    .tabs-tabs-container {
        display: flex;
        flex-wrap: nowrap;
        height: $tabs-height;
        padding-right: 23px;
        overflow: hidden;

        li {
            display: flex;
            flex: 1;
            overflow: hidden;
            max-width: 240px;
            min-width: 30px;
            //width: 100%;

            a {
                overflow: hidden;
                display: flex;
                flex: auto;
                justify-content: flex-end;
                padding: 5px;
                font-size: 12px;
                font-weight: normal;
                border: 1px solid #ddd;

                span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                small {
                    flex-grow: 1;
                    flex-shrink: 0;
                    text-align: right;
                    color: grey;
                    font-size: 0.7em;
                    padding: 3px;
                }

                .btn {
                    border: none;
                    background: transparent;
                    font-size: 0.8em;
                    padding: 0;
                    width: 16px;
                    height: 16px;
                    flex: 0 0 20px;

                    .icon {
                        overflow: visible;
                    }
                }

                &.active {
                    background: $tabs-tab-active-bg;
                }

                &:hover {
                    background: $tabs-tab-active-bg;
                }
            }
        }
    }

    .tab-content {
        height: calc(100% - #{$tabs-height});
        padding: 5px;
        clear: both;
        //overflow:hidden;
        border: 1px solid $tabs-tab-content-border;
        border-top: 0;
        background: $tabs-tab-content-bg;
    }
}
