.desc-item-value.desc-item-value-parts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;    
    .part1 {
        margin-right: 4px;
        width: 50%;
    }
    .part2 {
        width: 50%;
    }
}

.calculable {
    color: #888;
    font-style: italic;
}

.desc-item-spec {
    .spec-required {
        background-color: #ffd3d3;
    }

    .spec-recommended {
        background-color: #edffe9;
    }

    .spec-possible {
        background-color: #e0e6ff;
    }

    .spec-impossible {
        background-color: #ffeed3;
    }
}