@import "~variables.less";

    .autocomplete-packet {

        .autocomplete-menu-footer {

            .create-packet {
                position: fixed;
                padding: 5px;
                .create-packet-label {
                    margin-left: 3px;
                }
            }
        }

    }


