@import "~variables.less";

.desc-item-value {

    .autocomplete-party {

        @party-item-padding: 5px;

        .autocomplete-menu-container {

            .autocomplete-menu {

                .item {

                    .name {
                        padding: @party-item-padding;
                        display: table-cell;
                    }

                    .type {
                        padding: @party-item-padding;
                        display: table-cell;;
                    }

                    .interval {
                        padding: @party-item-padding;
                        display: table-cell;
                    }

                    .characteristics {
                        padding: @party-item-padding;
                        max-width: 300px;
                        text-overflow: ellipsis;
                        display: table-cell;
                        overflow: hidden;
                    }
                }
            }

        }

    }

}

