@import "~variables.less";

    .autocomplete-packet {

        .autocomplete-menu-footer {

            .create-packet {                
                padding: 5px;
                .create-packet-label {
                    margin-left: 3px;
                }

                .btn {
                    .icon {
                        padding-right: 3px;
                    }
                    margin-right: 3px;
                }
            }
        }

    }
