.desc-item-spec {
    .autocomplete-menu-container {
        .spec-group {
            position: relative;
            z-index: 1;

            &:before {
                border-top: 1px solid #dfdfdf;
                content:"";
                margin: 0 auto; /* this centers the line to the full width specified */
                position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
                top: 40%; left: 0; right: 0; bottom: 0;
                width: 100%;
                z-index: -1;
            }

            .item-text {
                /* to hide the lines from behind the text, you have to set the background color the same as the container */
                background: #fff;
                padding: 0 4px 0 4px;
                //margin-left: -20px;
            }
        }
    }
}
