@import "~variables.less";

.desc-item-label-value {
  white-space: normal;
  max-height: 60px;
  overflow: auto;
}

.desc-item-spec-label {
  padding-right: 3px;

  &:not(:last-child) {
    white-space: normal;
    font-style: italic;
  }

  &:not(:last-child)::after {
    content: ":";
  }
}