@import "/variables.less";

    .autocomplete-structure {

        .autocomplete-menu-footer {

            .create-structure {
                padding: 5px;
                .create-structure-label {
                    margin-left: 3px;
                }

                .btn {
                    .icon {
                        padding-right: 3px;
                    }
                    margin-right: 3px;
                }
            }
        }

    }
