@import "/variables.less";

.arr-search-form-container {
    .condition {
        display: flex;
        margin-top: 5px;

        .unitdate {
            flex-grow: 1;
            display: flex;

            .text {
                width: 100%;
            }

            .field {
                flex-shrink: 0;
            }
        }

        .form-group {
            flex-grow: 1;
        }
    }
    .action-button {
        margin-right: 5px;
    }
    .delete {
        flex-shrink: 0;
    }
    .delete {
        flex-shrink: 0;
    }
}
