.datation-field {
    .header {
        button.disabledColor {
            opacity: 0.65;
        }
    }
    .datation {
        display:flex;
        > *:last-child {
            flex:1
        }
    }
}
