# Java classes
*.class
rebel.xml

# Package files
*.jar
*.war
*.ear

# Logs
hs_err_pid*
*.log

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IntelliJ IDEA
*.iml
.idea
atlassian-ide-plugin.xml

# NetBeans
nbproject/
build/
nbactions.xml
nb-configuration.xml

# Eclipse
.project
org.eclipse.core.resources.prefs
org.eclipse.m2e.core.prefs
.classpath
com.vaadin.integration.eclipse.prefs
org.eclipse.jdt.core.prefs
.settings
elza/elza-ui/bulkactions
elza/elza-core/bulkactions
elza/elza-ui/rules
elza/elza-react/node_modules/
elza/elza-ui/config/elza.yaml
elza/elza-web/config/elza.yaml
elza/elza-web/bulkactions
elza/elza-web/rules
elza/elza-ui/config/elza.yaml
elza/elza-web/lucene
elza/elza-web/groovy
elza/elza-web/work/
elza/elza-core/work/

run.bat
elza/elza-core/src/main/resources/xsd/META-INF/*.episode
elza/elza-web/cz.tacr.elza.domain.ArrDescItem
tsp-output
node_modules
