# Java classes
*.class

# Package files
*.jar
*.war
*.ear

# Logs
hs_err_pid*
*.log

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IntelliJ IDEA
*.iml
.idea
atlassian-ide-plugin.xml

# NetBeans
nbproject/
build/
nbactions.xml
nb-configuration.xml

# Eclipse
.project
org.eclipse.core.resources.prefs
org.eclipse.m2e.core.prefs
.classpath
com.vaadin.integration.eclipse.prefs
org.eclipse.jdt.core.prefs
/elza-api/.settings/org.eclipse.wst.common.component
/elza-api/.settings/org.eclipse.wst.common.project.facet.core.xml
/elza-core/.settings/org.eclipse.wst.common.component
/elza-core/.settings/org.eclipse.wst.common.project.facet.core.xml
/elza-ui/.settings/org.eclipse.wst.common.component
/elza-ui/.settings/org.eclipse.wst.common.project.facet.core.xml
/elza-war/.settings/.jsdtscope
/elza-war/.settings/org.eclipse.wst.common.component
/elza-war/.settings/org.eclipse.wst.common.project.facet.core.xml
/elza-war/.settings/org.eclipse.wst.jsdt.ui.superType.container
/elza-war/.settings/org.eclipse.wst.jsdt.ui.superType.name
/elza-war/.settings/org.eclipse.wst.validation.prefs
