@import "../../../variables.scss";

.list-add-remove-container {
    .top-label {
        display: flex;
        align-items: center;

        .list-label {
            //flex-grow: 1;
        }
        .list-action {
            flex-shrink: 0;
        }
    }

    .btn {
        background: transparent;
        height: 2em;
        font-size: 0.9em;
        border: none;
        padding: 2px;
        margin: 0;
        vertical-align: top;
        .icon  {
            color: $node-form-actions-color;
            height: 1.35em;
            line-height: 1.35em;
            width: 1.35em;
        }
        &:hover {
            background-color: $node-form-actions-hover;
        }
    }

    &.no-hover {
        .item-list-container {
            .item-container {
                &:hover {
                    background: transparent;
                }

            }
        }
    }

    &.alternating-rows {
        .item-list-container {
            .item-container {
                &:nth-child(even){
                    background-color: $shade-1; 
                    /* background-color: #0000000b;  */
                }
            }
        }
    }

    .item-list-container {
        overflow: hidden;
        overflow-y: auto;
        margin-top: 10px;

        .item-container {
            display: flex;
            flex-direction: row;
            line-height: 2em;
            align-items: center;
            padding: 0px 5px;

            &:hover {
                background: $tree-node-label-active-bg
            }

            .item {
                flex-grow: 1;
                line-height: 1.2em;
                padding: 6px 4px;
                width: 100%;
            }

            .item-actions-container {
                flex-shrink: 0;
                display: flex;
            }
        }
    }
    .actions-container {

    }
}
