@import 'variables.scss';
.modal {
    &.dialog-lg {
        @media screen and (min-width: map_get($grid-breakpoints, 'md')) {
          .modal-dialog {
              max-width: 900px;
              width: 900px;
          }
        }
    }
    &.dialog-xl {
        .modal-dialog {
            max-width: 900px;
            width: 900px;
        }
        @media screen and (min-width: map_get($grid-breakpoints, 'xl')) {
            .modal-dialog {
                max-width: 1200px;
                width: 1200px;
            }
        }
    }
    &.dialog-fullscreen {
        padding: 0 !important;
        .modal-dialog {
            max-width: 100% !important;
            width: 100%;
            height: 100%;
            margin: 0;
            .modal-content {
                height: 100%;
                > div {
                    height: 100%;
                }
            }
        }
    }
    &.dialog-no-header {
        .modal-header {
            display:none;
        }
    }
}
.modal-dialog {
     .modal-footer {
        .btn {
            min-width: 64px;
        }
    }
}
.modal {
    &.dialog-hidden {
        z-index: 1040;
    }

    &.top {
        z-index: 9999;
    }
}
