.reg-usage-form {
    .toggle {
        padding-right: 10px;
        border: none;
        border-color: transparent;
    }

    .name-label {
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 1.2em;
    }

    .actions-container {
        .actions-text {
            margin-top: 15px;
            margin-bottom: 5px;
            font-weight: bold;
            font-size: 1.2em;
        }
    }

    .field-container{
        display: flex;

        .btn {
            flex-shrink: 0;
            background-color: #eee;
            color: currentColor;
            border-color: #bbb;

            &:disabled {
                background-color: #ddd;
                color: #888;
            }
        }
    }
}
.in-progress {
    height: 100px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.confirmation {
    .entity {
        padding: 5px;
        border-radius: 5px;
        line-height: 1em;
        .info {
            display: flex;
            .info-item {
                padding: 5px;
                background:#eee;
                border-radius: 5px;
                margin: 2px;
                line-height: 1em;
            }
        }

        .title {
            font-size: 1.3em; 
            font-weight: bold; 
            margin: 2px;
        }
    }
    .error {
        color: #bd2f2f;
        margin-top: 10px;
    }
}
