@import "../../variables.scss";

.dao-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .dao-jp-panel {
        white-space: nowrap;
        background-color: $contrast-color;
        padding: 5px;
        color: $contrast-color-fg;
        width: 100%;
        flex: 0;

        .reference-mark {
            color: $contrast-color-fg;
            font-size: 1em;
        }
    }

    .dao-info-container {
        height: 100%;
        width: 100%;
        background-color: $shade-0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 1;

        .btn {
            border: none;
            margin-bottom: 2px;
            background: transparent;
        }

        .btn:hover {
            background-color: $node-form-actions-hover;
        }

        .lbl {
            overflow: hidden;
            text-overflow: ellipsis;
            padding-bottom: 2px;
            display: flex;
            flex-direction: row;
            flex-shrink: 0;

            .lbl-name {
                white-space: nowrap;
                &::after {
                    content: ":";
                    padding-right: 3px;
                }
            }
            .lbl-value {
                text-overflow: ellipsis;
                overflow-x: hidden;
            }
            &.block {
                flex-direction: column;
                flex-shrink: 1;
                .lbl-name {
                    &::after {
                        content: "";
                    }
                }
                .scrollable {
                    border: $border-color solid 1px;
                    white-space: normal;
                    overflow: auto;
                    padding: 3px;
                }
            }
        }

        .dao-detail {
            overflow: hidden;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            width: 150px;


            .dao-actions {
                background: $node-form-actions-bg;
                white-space: nowrap;
                display: flex;
                height: 1.8em;
                line-height: 1.8em;
                .left {
                    flex-grow: 1;
                }
                .right {
                    flex-grow: 0;
                }
            }

            .dao-info {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                padding: 5px;
                overflow: auto;
            }
        }

        > span:first-of-type {
            padding-left: 3px;
        }

        > .btn {
            margin-right: 8px;
        }

        .btn {
            font-size: 0.9em;
            &.dropdown-toggle {
                padding: 0 3px 0 3px;
                /*margin-left: -8px;*/
            }
            .icon {
                width: 1.35em;
            }
            margin-top: 2px;
        }
        .btn-group {
            > .btn:first-of-type {
                margin-right: 8px;
            }
        }

        .dao-file-detail {
            display: flex;
            border-left: 1px solid $border-color;
            background-color: $shade-2;
            flex-grow: 1;
            width: 60%;
            flex-direction: column;
            min-width: 260px;

            .dao-file-thumbnail {
                position: relative;
                display: flex;
                flex-direction: column;
                height: 50%;
                overflow: hidden;
                min-height: 200px;

                .navigation {
                    background-color: #{$shade-0}; /* TODO alpha */
                    position: absolute;
                    display: flex;
                    height: 1.8em;
                    line-height: 1.8em;
                    white-space: nowrap;
                    width: 100%;
                    padding-left: 5px;
                    z-index: 2;

                    .title {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        flex-grow: 1;
                    }
                    .arrows {
                        flex-shrink: 0;
                    }
                }

                .thumbnail {
                    margin-bottom: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $shade-7;

                    &.empty {
                        height: 100%;
                        text-align: center;
                        .empty-img {
                            padding: 45px;
                        }
                    }
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                        position: absolute;
                    }
                    .img-blur {
                        filter: blur(10px);
                        object-fit: fill;
                        transform: scale(1.2);
                    }
                }
            }
            .dao-file-info {
                height: 200px;
                flex-grow: 1;
                display: flex;
                flex-direction: column;

                .file {
                    font-weight: bold;
                }
                .dao-file-info-title {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding-left: 5px;
                    background-color: var(--shade-5);
                    display: flex;
                    align-items: center;
                    height: 1.8em;
                    flex-shrink: 0;

                    .spacer {
                        flex-grow: 1;
                        flex-shrink: 1;
                    }
                }
                .dao-file-info-base {
                    padding: 10px;
                    overflow: auto;
                }
            }
        }

    }
}
