@import "../../variables.scss";

.daos-container {
    border: 1px solid $fa-file-tree-border;
    height: 100%;
    width: 100%;

    display: flex;

    .daos-list {
        height: 100%;

        display: flex;
        flex-direction: column;

        .title {
            flex-grow: 0;
            flex-shrink: 0;
            padding: 5px;
            background-color: $tree-node-active-bg;
            font-size: $font-size-base * 1.1;
        }

        .daos-list-items {
            flex-grow: 1;
            display: flex;

            .tree-list {
                flex-grow: 1;
                background-color: $node-form-dao;
                border: 1px solid #DDDDDD;
                .item {
                    .item-text {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        flex-shrink: 1;
                        .item-name {
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }
    }

    .daos-detail {
        height: 100%;
    }

}
