.dao-packages-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .search-container {
        flex-grow: 0;
        flex-shrink: 0;
    }
    .listbox-wrapper {
        height: calc(100% - 28px);
    }
    .listbox-container {
        flex-grow: 1;
    }
}
