$arr-history-line-height: 24px; // definuje se i v JS!!!!!
@import "../../variables.scss";

.arr-history-form-container {
    .modal-body {
        .form-group {
            .radio {
                line-height: 1.8em;
                height: 1.8em;
                margin: 0;

                label {
                    margin: 0 15px 0 0;
                    line-height: 1.8em;
                    height: 1.8em;
                }
            }
            .selected-node-container {
                > div {
                    line-height: 1.8em;
                    height: 1.8em;
                }
                .form-group {
                    line-height: 1.8em;
                    .form-control-static {
                        padding: 0;
                        display: flex;
                        input {
                            line-height: 1.8em;
                            height: 1.8em;
                        }
                        button {
                            line-height: 1.8em;
                        }
                    }
                }
            }
        }
    }

    .selected-item-info-container {
        display: flex;
        input {
            flex: 1;
            margin-right: 6px;
        }
    }

    .selected-node-container {
        display: flex;
        button {
            margin-left: 6px;
        }
    }

    .go-to-date-container {
        display: flex;
        margin: 8px 0 10px 0;
        button {
            align-self: flex-end;
            margin-left: 6px;
        }
    }

    .changes-listbox-container {
        height: 100%;
        margin-bottom: 6px;

        .lazy-listbox-container {
            height: 300px;
        }

        .listbox-item {
            height: $arr-history-line-height;
        }

        .col {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            &.col1 {
                width: 90px;
            }
            &.col2 {
                width: 90px;
            }
            &.col3 {
                width: 70%;
            }
            &.col4 {
                width: 30%;
            }
            &.col5 {
                width: 100px;
            }

        }

        .header-container {
            display: flex;
        }
        .data-container {
            .row-container {
                height: $arr-history-line-height;
                display: flex;
                color: darkgray;
                &.canRevert {
                    color: black;
                }
                &.delete {
                    background: #ffcbcb;
                }
            }
            .active {
                .row-container {
                    &.delete {
                        border-bottom: 1px solid red;
                    }
                }
            }
            .focus {
                .row-container {
                    &.delete {
                        background: $tree-node-active-bg;
                    }
                }
                background: $tree-node-active-bg;
            }
        }
    }
}
