$arr-history-line-height: 24px; // definuje se i v JS!!!!!
@import "../../variables.scss";

.in-progress {
    height: 100px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.arr-history-form-container {
    .modal-body {
        .form-group {
            .radio {
                line-height: 1.8em;
                height: 1.8em;
                margin: 0;

                label {
                    margin: 0 0 0 0;
                    line-height: 1.8em;
                    height: 1.8em;
                }
            }
            .selected-node-container {
                > div {
                    line-height: 1.8em;
                    height: 1.8em;
                }
                .form-group {
                    line-height: 1.8em;
                    .form-control-static {
                        padding: 0;
                        display: flex;
                        input {
                            line-height: 1.8em;
                            height: 1.8em;
                        }
                        button {
                            line-height: 1.8em;
                        }
                    }
                }
            }
        }
    }

    .selected-item-info-container {
        display: flex;
        input {
            flex: 1;
            margin-right: 6px;
        }
    }
    .selected-node-info-container {
        display: flex;
        border: 1px solid $border-color;
        margin-left: 5px;
        border-radius: 3px;
        overflow: hidden;

        .node-info {
            max-width: 300px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
            padding: 0 5px;
            border-right: 1px solid $border-color;
            flex-shrink: 0;

            &.full {
                max-width: none;
                flex-grow: 1;
                flex-shrink: 1;
            }
        }

        button {
            margin: 0;
            border: none;
            background-color:$shade-2;
            &:hover {
                background-color:$shade-4;
            }
        }

        input {
            flex: 1;
            margin-right: 6px;
        }
    }

    .selected-node-container {
        display: flex;
    }

    .go-to-date-container {
        display: flex;
        margin: 8px 0 10px 0;
        button {
            align-self: flex-end;
            margin-left: 6px;
        }
    }

    .changes-listbox-container {
        height: 100%;
        margin-bottom: 6px;

        .lazy-listbox-container {
            height: 300px;
        }

        .listbox-item {
            height: $arr-history-line-height;
        }

        .col {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            &.col1 {
                width: 90px;
            }
            &.col2 {
                width: 90px;
            }
            &.col3 {
                width: 70%;
            }
            &.col4 {
                width: 30%;
            }
            &.col5 {
                width: 100px;
            }

        }

        .header-container {
            display: flex;
        }
        .data-container {
            .row-container {
                height: $arr-history-line-height;
                display: flex;
                color: $fg-color;
                opacity: 0.6;

                &.canRevert {
                    opacity: 1;
                }

                &.delete {
                    background: $tree-node-active-bg;
                }
            }
            .listbox-item:nth-child(odd) {
                background: $shade-1;
            }
            .focus {
                .row-container {
                    &.delete {
                        background: $tree-node-active-bg;
                    }
                }
                background: $tree-node-active-bg;
            }
        }
    }
}
