@import "../../variables.scss";

.arr-panel {
    padding: 2px 5px;
    background: $fa-file-tree-bg-list;
    border: 1px solid $fa-file-tree-border;

    .title {

    }

    .reset-button {
        float: right;
        &.btn {
            border: none;
        }
        &.btn:active {
            background-color: transparent;
        }
    }
}
