.fund-output-files {
    height: auto;
    .fund-files-header {
        display: flex;
        flex-direction: row;

        .fund-files-title {
            margin: 0;
            font-weight: bold;
            flex: 1;
        }

        .fund-files-download-all {
            font-size: 1rem;
            display: flex;
            align-items: center;
            flex-shrink: 1;
            align-self: flex-end;
            padding: 10px 15px;

            .btn {
                background-color: transparent;
            }

            .fund-files-download-icon {
                margin-right: 0.5rem;
                font-size: 1.1em;
                margin-top: 0.1rem;
            }

            &:hover {
                background-color: #eee;
            }
        }
    }

    .listbox-wrapper {
        border: none !important;
    }

    .icon {
        font-size: 1.5rem;
    }



}
