@import "../../variables.scss";

// TODO [stanekpa] nahradit vsechny stejne stylovani jednim stylem, ktery bude uveden ve variables
.node-register-form-standard-actions {
    .btn {
        padding: 2px;
        border: none;
        margin: 0;
        background: transparent;
        height: 2em;
        font-size: 0.9em;
        .icon  {
            color: $node-form-actions-color;
            height: 1.35em;
            line-height: 1.35em;
            width: 1.35em;
            vertical-align: middle;
        }
    }
    .btn:hover {
        background-color: $node-form-actions-hover;
    }
}

.fund-nodes-list-container.list-add-remove-container {
    background: $fa-file-tree-bg-list;
    //border: 1px solid $fa-file-tree-border;
    flex-grow: 1;
    margin: 0;
    overflow: hidden;
    overflow-y: auto;

    .item-container {
        display: flex;
        flex-direction: row;
        //padding: 0 5px;

        @include node-register-form-standard-actions;

        .actions-container {
            flex-shrink: 0;
        }
    }
}
