@import "../../variables.scss";
@import "./ReferenceMark.scss";

$rowHeight: 16px;

$TREE_TOP_PADDING: 0px;    // nutné definovat i v komponentě!

.fa-tree-lazy-main-container {
    height: 100%;
    position: relative;
    display:flex;
    flex-direction:column;

    .fa-tree-wrapper{
        flex-grow:1;
        height: 200px;
        border: 1px solid #DDDDDD;
        display:flex;
        flex-direction:column;
    }
    .fa-tree-lazy-container {
        flex-grow:1;
        height: 100%;
        //height: calc("100% - 49px");
        overflow: auto;
        background: white;
        position: relative;
        margin-top: $TREE_TOP_PADDING;
        width: 100%;
        padding-top: 5px;
        border-top:none;

        .virtual-list{ // položka ve stromě na celou šířku
            display:table;
        }

        div {
            width: 100%;
            display: block;
        }

        .referenceMark {
            @extend .referenceMark;
        };

        .exp-col {
            flex-grow: 1;
            line-height: 16px;
            min-width: 26px;
            max-width: 26px;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
        }

        .node-label {
            display: flex;
            flex-grow: 1;
            height: 16px;
            line-height: 16px;
            vertical-align: middle;
            cursor: pointer;
            &:hover {
                background: #EEEEEE;
            }
        }

        .node-icon {
            height: 16px;
            line-height: 16px;
            vertical-align: middle;
            margin: 0 5px 0 3px;
        }

        .node-icon-color {
            padding:0 2px;
            width:2em;
            height:2em;
            text-align:center;
            font-size: 0.7em;
            flex-shrink: 0;
            border-radius: 20px;
            line-height:2em;
        }

        .node {
            display: flex;
            height: $rowHeight;
            white-space: nowrap;
            font-size: 0.9em;
            width: 100%;
            &:hover {
                background: $tree-node-label-active-bg;
                cursor: pointer;
            }
        }

        .node-color {
            height: auto;
            padding:1px;
            .exp-col{
                width:20px;
                min-width:auto;
                max-width:auto;
            }
        }

        .without-arr-perm {
            color: #a0a0a0;
            font-style: italic;
        }

        .active {
            background: $tree-node-active-bg;
            &:hover {
                background: $tree-node-active-hover-bg;
            }
            .node-label {
                background: $tree-node-active-bg;
                &:hover {
                    background: $tree-node-active-hover-bg;
                }
            }
        }

        .focus {
            .node-label {
                /*outline: 1px solid $tree-node-focus-border;*/
            }
        }

        //.btn {
        //    position: absolute;
        //    border: none;
        //    background: transparent;
        //    &.tree-collapse {
        //        top: 0;
        //        right: 0;
        //        .icon {
        //            padding: 0 5px 0 0;
        //        }
        //    }
        //    &:hover{
        //        background: $node-form-actions-hover;
        //    }
        //}
    }

    .fa-tree-lazy-actions {
        display: flex;
        flex-shrink: 0;
        justify-content: flex-end;
        background: white;
        margin: 0;
        .btn {
            border: none;
            background: transparent;
            .icon {
                padding: 0 5px 0 0;
            }
            &:hover{
                background: $node-form-actions-hover;
            }
        }
        .extended-view-toggle {
            padding-right: 0;
        }
    }

    .count-label {
        color: #888888;
        padding-left: 5px;
    }

    .fa-sign-out {
        margin-left: auto;
        padding-right: 20px;
    }
}
