@import "../../variables.scss";

.lecturing-bottom {
    height: 100%;
    width: 100%;
    .btn {
        background: transparent;
        border: none;
    }
    .lecturing-bottom-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        .comments {
            flex: 1;
            overflow-y: auto;
            border-top: $node-panel-border 1px solid;
            border-bottom: $node-panel-border 1px solid;

            > .comment {

            }
            .comment {
                background: $node-panel-parents-bg;
                border-bottom: $node-panel-border 1px solid;
                border-left: $node-panel-border 1px solid;
                border-right: $node-panel-border 1px solid;
                padding: 2px 5px;
                .comment-text {
                    text-align: justify;
                    padding: 6px;
                }
            }
            .state-change {
                color: #ffffff;
                background: #000000;
                padding: 2px 5px;
            }
        }
    }
}
