@import "../../variables.scss";

$parts-margin: 4px;
$node-panel-actions-height: 26px;
$node-panel-parents-height: 15%;
$node-panel-content-height: 70%;
$node-panel-children-height: 15%;

.node-panel-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;

    .reference-mark {
        color: $tree-node-reference-mark;
        font-size: 0.7em;
        margin:0;
        padding:0 5px;

    }

    .main {
        flex-grow: 1;
        //overflow: hidden;
        //width:100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        min-width: 350px;


        .content {
            margin-bottom: $parts-margin;
            margin-top: $parts-margin;
            height: $node-panel-content-height;
            flex-grow: 1;
            border: 1px solid $node-panel-border;

            .inner-wrapper {
                height: 100%;

                display: flex;
                flex-direction: column;

                .menu-wrapper {

                }
                .content-wrapper {
                    height: 100%;
                    overflow: auto;
                    overflow-x: hidden;
                }


                .content-wrapper {
                    .accordion-item {
                        &.focused {
                            .accordion-header-container {
                                .accordion-header {
                                    background: $accordion-header-bg-opened;
                                }
                            }
                        }
                    }
                }

            }

            .accordion-item:first-child {
                &.opened {
                    margin-top: 0;
                }
            }
            .accordion-item {
                &.disabled {
                    .accordion-header-container .accordion-header {
                        cursor: auto;
                    }
                }
                &.opened {
                    margin-top: -1px;
                    .accordion-header-container {
                        border-bottom: none;
                        .accordion-header {
                            font-weight: bold;
                            margin-bottom: 0;
                            background: $accordion-header-bg-opened;
                        }
                    }
                }
                .accordion-header-container {
                    display: table;
                    width: 100%;
                    table-layout:fixed;
                    border-bottom: 1px solid $accordion-header-border;

                    .accordion-header {
                        display: table-row;
                        width: 100%;
                        height: 32px;
                        padding: 4px;
                        cursor: pointer;
                        background: $accordion-header-bg;

                        .accordion-header-left {
                            display: table-cell;
                            width: 60%;
                            padding: 5px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            vertical-align: middle;
                        }

                        .accordion-header-right {
                            display: table-cell;
                            padding: 5px;
                            width: calc(40% - 20px);
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            /*color: grey;*/
                            vertical-align: middle;

                            .title {
                                font-size: 0.9em;
                                font-weight: normal;
                            }
                        }
                        .status, .digitizationInfo, .issue {
                            display: table-cell;
                            width: 20px;
                            vertical-align: middle;
                        }
                    }
                }

                .accordion-body {
                    border: solid $accordion-header-border;
                    border-width: 0 0 1px 0;
                }
            }

        }
        .children, .parents {
            height: $node-panel-children-height;
            overflow-y: auto;
            border: 1px solid $node-panel-children-border;
            background: $node-panel-children-bg;
        }
    }
}

.tooltip {

    //.tooltip-inner {
    //    max-width: inherit;
    //    max-width: 100px;
    //    overflow: scroll;
    //    max-height: 500px;
    //}

    .missing {
        font-weight: bold;
    }

    .error {
        font-weight: bold;
    }

    .missing, .message, .error {
        text-align: left;
    }

    .ignore {
        color: #afafaf;
    }
}
