@import "../../variables.scss";

.node-dao-dialog {
    .daos-container {
        // min-height: 400px;
    }
}

.node-dao {
    border-top: 1px solid $node-form-group-active-border;
    background-color: $node-form-dao;

    .node-dao-title {
        padding-left: 5px;
        display: inline;
    }

    .actions {
        display: inline-block;

        button {
            background: transparent;
            border: none;
            flex-shrink: 0;
            height: 100%;
            &:hover {
                background: $button-bg-hover;
            }
        }
    }

    .dao-form {

        margin: 5px;
        padding: 5px;
        display: table;
        border: 1px solid black;
        background-color: #ebebeb;
        min-width: 440px;
        align-items: center;
        justify-content: center;

        .links {
            display: flex;
            align-items: center;
            justify-content: center;

            .link {
                flex-grow: 1;
            }

            .actions {
                flex-shrink: 1;
            }

        }


    }

}
