@import "../../variables.scss";
@import "/elements-grid.scss";

$valueActionWidth: 22px;
$descItemDraggerSize: 6px;

.node-form-standard-actions {
    .btn {
        padding: 2px;
        border: none;
        margin: 0;
        background: transparent;
        height: 2em;
        font-size: 0.9em;
        .icon  {
            color: $node-form-actions-color;
            height: 1.35em;
            line-height: 1.35em;
            width: 1.35em;
            vertical-align: middle;
        }
    }
    .btn:hover {
        background-color: $node-form-actions-hover;
    }
}

.node-form {
    //overflow-x: hidden;
    font-weight: normal;
    background: $node-form-bg;

    .active {
        font-weight: normal;
    }

    .space {
        margin-right: 5px;
    }

    .desc-item-groups {
        .desc-item-group {
            background: $node-form-group-bg;
            border: 1px solid $node-form-group-border;
            &.active {
                background: $node-form-group-active-bg;
                border: 1px solid $node-form-group-active-border;
            }

            .desc-item-types {
                &:extend(.elements-container all);

                .desc-item-type {
                    background: $node-form-item-type-bg;
                    padding: 5px 5px 7px 5px;

                    &.active {
                        background: $node-form-item-type-active-bg;
                        .desc-item-type-label {
                            .actions{
                                .btn {
                                    visibility: visible;
                                }
                            }
                        }
                    }
                    &:hover {
                        .desc-item-type-label {
                            .actions{
                                .btn {
                                    visibility: visible;
                                }
                            }
                        }
                    }

                    // Dragger
                    .dragger {
                        width: $descItemDraggerSize;
                        flex-shrink: 0;
                        height: 1.8em;
                        background-color: $dragger-bg;
                        padding-top: 2px;
                        position: relative;
                        cursor: pointer;
                        &:hover {
                            background-color: $dragger-bg-hover;
                            .icon {
                                display: block;
                            }
                        }
                        .icon{
                            position: absolute;
                            font-size: 0.9em;
                            display: none;
                            &.up {
                                top: 2px;

                            }
                            &.down {
                                top: 10px;
                            }
                        }
                    }

                    .placeholder {
                        width: 100%;
                        height: 1px;
                        background: #a0a0a0;
                    }
                    // END - Dragger


                    .desc-item-type-label {
                        height: 1.7em;
                        position:relative;
                        display: flex;
                        flex-direction: row;
                        .title {
                            margin-right: 10px;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                        .actions {
                            flex-shrink: 0;
                            @include node-form-standard-actions;

                            .btn {
                                visibility: hidden;
                                padding: 0;
                                height: 16px;
                                line-height: 0;
                                &.alwaysVisible {
                                  visibility: visible;
                                }
                                .icon {
                                    height: 16px;
                                    width: 16px;
                                    line-height: 16px;
                                    &.fa-stack-1x {
                                        margin-left: 2px;
                                        font-size: inherit;
                                    }
                                }
                                .identified, .unlocked, .nocopy {
                                    color: $node-form-actions-active-color;
                                }

                                .notIdentified, .locked, .copy {
                                    color: $node-form-actions-color;
                                    background-color:$node-form-actions-hover;
                                }
                                .locked {
                                    visibility: visible;
                                }
                                .notIdentified {
                                    visibility: visible;
                                }
                                .copy {
                                    visibility: visible;
                                }
                                .messages {
                                    visibility: visible;
                                }
                            }
                        }
                        .desc-item-type-edited {
                            font-size: 0.8em;
                            color: #a0a0a0;
                        }

                    }

                    &.read-mode .desc-item-type-label {
                        font-weight: bold;
                    }

                    .desc-item-type-desc-items {
                        .desc-item-type-desc-item-container {
                            padding-top: 2px;
                            padding-bottom: 2px;
                            display: flex;
                            &:first-child {
                                padding-top: 0;
                            }
                            &:last-child {
                            }

                            .desc-item-value-container {
                                display: flex;
                                flex-wrap: nowrap;
                                flex-grow: 1;
                                width: 200px; /* Minimalni sirka. Pokud neni uvedena, text se nezalamuje, ikdyz je omezen vnejsim obalem. */
                                word-wrap: break-word;

                                &.desc-item-spec-and-value {
                                    .desc-item-value {
                                        width: 50%;
                                    }
                                    .desc-item-spec {
                                        width: 50%;
                                    }
                                }

                                .desc-item-spec {
                                    width: 100%;
                                    &.error {
                                        background: $node-form-value-error-bg;
                                    }
                                }
                                .desc-item-value {
                                    width: 100%;
                                    .error {
                                        &input, input, &textarea, textarea, &select, select {
                                            background: $node-form-value-error-bg;
                                        }
                                    }
                                    input, textarea, select {
                                        &.error {
                                            background: $node-form-value-error-bg;
                                        }
                                    }
                                    .desc-item-value-actions {
                                        display: block;
                                    }
                                }
                            }
                            .desc-item-action-container {
                                @include node-form-standard-actions;
                                flex-shrink: 0;

                                .btn {
                                    height: 1.8em;
                                    width: 1.8em;
                                    display: inline-flex;
                                    align-items: center;
                                    justify-content: center;
                                    background-color: #eee;
                                    border: solid 1px #eee;
                                    border-left: 0;
                                    font-size:1em;

                                    &.disabled{
                                        opacity:1;
                                        .icon{
                                            //color: lighten($node-form-actions-color, 80%);
                                            opacity: 0.3;
                                        }
                                    }
                                    &:hover {
                                        background-color: $node-form-actions-hover;
                                        border-color: $node-form-actions-hover;
                                    }

                                    .icon  {
                                        color: $node-form-actions-color;
                                        height: auto;
                                        line-height: auto;
                                        width: auto;
                                        vertical-align: middle;
                                    }
                                }
                                .identified {
                                    color: $node-form-actions-active-color;
                                }
                                .notIdentified {
                                    color: $node-form-actions-color;
                                    background-color:$node-form-actions-hover;
                                }
                                .notIdentified {
                                    visibility: visible;
                                }
                            }
                        }
                    }
                    .desc-item-type-actions {
                        @include node-form-standard-actions;
                    }
                }
            }
        }
    }
}
