.small-button {
    cursor: pointer;
    padding: 3px;
    margin: 2px;
    border-radius: 3px;
    display: inline-flex;
    line-height: 1em;
    align-items: center;

    &:hover {
        background-color: #ddd;
    }
}
