@import "../../../variables.scss";

.splitter-container {
    width: 100%;
    height: 100%;
    display: flex;
    /*flex-flow: row wrap;*/
    .splitter-left, .splitter-right, .splitter-center {
        height: 100%;
    }
    .splitter-right {
        min-width: 220px;
        .tab-content {
            border-right: none;
        }
        .tabs-tabs-container {
            li {
                //margin-left: -1px;
            }
        }
    }
    .splitter-center {
        width:200px;
        flex: 2 0px;
        .tabs-container {
            .tabs-tabs-container {
                padding: 0;
            }
        }
    }
    .splitter-left {
        min-width: 115px;
        .tab-content {
            border-left: none;
        }
        .tabs-tabs-container {
            li {
                margin-left: -1px;
            }
        }
    }
    .splitter-right {
    }
}
