@import "../../variables.scss";

.fund-page {
    .splitter-right {
        border-left: 1px solid #DDDDDD;
    }

    .fund-list-container {
        padding: 5px;
        background: $fa-file-tree-bg;
        border: 1px solid $fa-file-tree-border;
        border-top: none;
        height: 100%;
        display: flex;
        flex-direction: column;

        .fund-listbox {
            background: $fa-file-tree-bg-list;
            border: 1px solid $fa-file-tree-border;
            flex-grow: 1;
            margin: 0;
            overflow: hidden;
            overflow-y: auto;

            .listbox-item {
                //padding: 5px;
                //height: 40px;
                overflow:hidden;
                border-bottom: 1px solid #eee;
                padding:5px;

                .item-row{
                    display: flex;

                    div:first-child{
                        flex-grow:1;
                    }
                    .name {
                        white-space: nowrap;
                        overflow:hidden;
                        text-overflow: ellipsis;
                    }
                    .btn-action {
                        padding: 0;
                        border: none;
                        margin: 0;
                        background: transparent;
                        height: 1.3em;
                        width: 1.3em;
                        line-height: 1.3em;
                        font-size: 1em;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        color: inherit;
                        margin-right:-0.2em;

                        .icon {
                            color: inherit;
                            transition: transform 100ms ease-in-out;
                            vertical-align: middle;
                        }

                        &:hover {
                            background-color: #6fa8dc;
                            color: white;
                        }
                    }
                    .link{
                        //color:$color-link;

                        &:hover{
                            color:lighten($color-link,20%);
                            text-decoration: underline;
                        }
                    }

                }
                .desc{
                    font-size:0.8em;
                }
            }
        }
    }
}
