@import "/variables.less";

.add-remove-listbox {
    .listbox-item {
        .arlb-plus-item {
            margin-top: 5px;
            .btn {
                border: none;
            }
        }

        .arlb-item {
            min-height: 22px;
            display: flex;
            flex-direction: row;
            .item-label {
                flex-grow: 1;
                display: flex;
                align-items: center;
                padding: 0 5px;
            }

            .item-action {
                flex-shrink: 0;
                &.btn {
                    border: none;
                    visibility: hidden;
                }
            }
        }

        &.active, &:hover {
            .arlb-item {
                .item-action {
                    &.btn {
                        visibility: visible;
                        background-color: transparent;
                        &:hover {
                            background-color: @button-bg-hover;
                        }
                    }
                }
            }
        }

        .btn {
            &:hover {
                background-color: @button-bg-hover;
            }
        }
    }
}
