@import "~variables.less";

.listbox-container {
    border: 1px solid #DDDDDD;
    .listbox-item {
        cursor: pointer;
        .node {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            span {
                flex-shrink: 0;

            }
            .node-icon {
                line-height: 1.4em;
                width: 1em;
            }
            .reference-mark {
                line-height: 2.2em;
                padding: 0 3px;
            }
            .name {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                flex-shrink: 1;
            }
        }
        &:hover {
            background: @tree-node-label-active-bg
        }
        &.active {
            background: @tree-node-active-bg;
            &:hover {
                background: @tree-node-active-hover-bg;
            }
        }
    }
}
