$listbox-height: 500px;

.datagrid-columns-settings-container {
    .panels-container {
        display: flex;
        height: 100%;

        .left, .right {
            flex-grow: 1;
            width: 50%;

            .listbox-filter {
                margin-bottom: 4px;
            }

            .listbox-wrapper{
                height: $listbox-height;

                .listbox-item {
                    padding: 2px 8px;
                }
            }
        }
        .center {
            // width: 40px;
            // height: $listbox-height;
            // display: table;

            .action-buttons {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 8px;
                height: 100%;

                .btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    margin: 4px;
                    width: 32px;
                    height: 32px;
                    font-size: 1.3em;
                }
            }
        }
    }
}
