@import "../../variables.scss";


$registry-panel-actions-height: 26px;

.registry-list {
    padding: 5px;
    background: $fa-file-tree-bg;
    border: 1px solid $fa-file-tree-border;
    border-top: none;
    height: 100%;
    display: flex;
    flex-direction: column;

    .arr-panel {
        margin-bottom: 10px;
    }

    .record-parent-info {
        border: 1px solid $fa-file-tree-border;
        background-color: $tree-node-label-active-bg;
        border-bottom: none;
        padding: 2px 5px;

        .record-selected-name {
            display: flex;
            flex-direction: row;
            div {
                display: inline-block;
            }
            .back {
                padding: 1px 4px;
                margin-right: -3px;
            }
            .back:hover {
                background-color: $node-form-actions-hover;

            }
            .title {
                padding: 0 5px;
                flex-grow: 1;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .record-selected-breadcrumbs {
            font-size: 0.8em;
            color: $color-link;
        }
    }

    .registry-list-header-container {
        flex-shrink: 0;
    }
    .registry-list-breadcrumbs {
        flex-shrink: 0;
    }

}

.registry-page {
    height: 100%;
    overflow-x: auto;

    .registry {
        height: 100%;
        shortcuts {
            display: block;
            height: 100%;
            .registry-title {
                height: 100%;
                overflow: hidden;
                overflow-y: auto;
                padding: 10px;
                border: 1px solid transparent;
                .variant-name {
                    max-width: 500px;
                }
            }
        }
    }

    h1 {
        font-size: 2em;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .line {
        margin-bottom: 10px;
        label {
            font-weight: bold;
            display: block;
        }
        .btn {
            //display: block;
            margin-left: 1px;
        }
    }

    .btn {
        border: none;
    }

    .registry-label {
        margin-bottom: 4px;
    }

    .registry-record-edit {
        font-size: 1em;
    }

    .registry-list-count{
        padding-top: 10px;
    }

    div.search-result-row div{
        display: inline-block;
    }

    .registry-list-icon-list:hover, .registry-list-icon-record:hover{
        cursor: pointer;
    }

    div.desc-item-type-label {
        .actions {
            background: #F5F5F5;
            height: $registry-panel-actions-height;
            display: inline-block;
            .btn {
                background: transparent;
                height: $registry-panel-actions-height;
                font-size: 12px;
                border: none;
                margin: 1px;
                padding: 2px;
            }
        }
        .actions {
            background: transparent;
        }
        div.title {
            display: inline-block;
        }
    }

    div.record-parent-info {
        padding-bottom: 10px;
        div.record-selected-name {
            width: 100%;
            div{
                display: inline-block;
                width: 80%;
            }
        }
        div.record-selected-breadcrumbs{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.clickAwaiblePath{
    cursor: pointer;
}

.parentPath{
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}
