@import "../../../variables.scss";

.autocomplete-desc-item-type {

    $item-padding: 5px;

    .autocomplete-menu-container {
        width: 568px;
        .autocomplete-menu-wrapper {
            width: 100%;
            .autocomplete-menu {
                padding-right: 0;
                width: 100%;
            }
        }
    }

    .item {
        padding: $item-padding;
        &.type-impossible {
            /* Added in AddDescItemTypeForm.jsx:40 */
            background-color: #eee;
            color: #888;
            font-style: italic;
        }
        &.type-possible {
            /* Added in AddDescItemTypeForm.jsx:40 */
            background-color: transparent;
        }
        &.focus {
            background-color: #afafaf;
        }
    }
}

.modal-dialog {
    .add-link {
        background-color: $button-bg;
        color: $button-fg;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: none;
        margin: 2px;
        border-radius: 3px;

        &:hover {
            background-color: $button-bg-hover;
        }

        .icon {
            padding-right: 4px;
        }
    }
}
