@import "../../../variables.scss";

.desc-item-type-desc-item-container {
  display: flex;

  .desc-item-label-value {
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;

    white-space: normal;
    max-height: 250em;
    overflow: auto;
    width: auto;
    display: flex;
    align-items: center;
  }

  .desc-item-spec-label {
    flex-shrink: 1;
    white-space: nowrap;

    padding-right: 3px;
    vertical-align: middle;
    line-height: 1.8em;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;

    &:not(:last-child) {
      white-space: normal;
      font-style: italic;
    }

    &:not(:last-child)::after {
      content: ":";
    }
  }
}
