@import "../SubNodeForm.scss";

.desc-item-value-coordinates {
  width:100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  .desc-item-value {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .textvalue {
      padding-left: 3px;
    }

    input, .textvalue {
      flex: 2 0px;
      width: 100%;
    }
  }

  .desc-item-coordinates-action {
      .node-form-standard-actions {
          @extend .node-form-standard-actions;
      }
  }
}
