@import "../../../variables.scss";

.desc-item-value-container {
    &.dtJSON_TABLE {
        .desc-item-value-table {
            display: flex;
            flex-direction: column;
        }

        .datagrid-container {
            height: 100%;
            max-height: 200px;
            .body-container {
                height:auto;
                //overflow-y: scroll;   // pokud budeme chtit videt scrollbar vzdy
                table tr td:last-child {
                    border: none;
                }
            }
        }
        .header-table, .body-table {
            width: 100%;
        }

        .btn {
            background: transparent;
            height: 2em;
            font-size: 0.9em;
            border: none;
            padding: 2px;
            margin: 0;
            margin-right: 8px;
            vertical-align: top;
            .icon  {
                color: $node-form-actions-color;
                height: 1.35em;
                line-height: 1.35em;
                width: 1.35em;
            }
            &:hover {
                background-color: $node-form-actions-hover;
            }
        }
    }
}
