
@import "../../variables.scss";

.ext-system-list {
    padding: 5px;
    background: $fa-file-tree-bg;
    border: 1px solid $fa-file-tree-border;
    border-top: none;
    height: 100%;
    display: flex;
    flex-direction: column;

    .filter {
        .type {
            margin-bottom: 5px;
        }
    }

    .list {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .noResult {
        text-align: center;
    }

    .items-count {
        flex: 0 1;
        vertical-align: middle;
        padding-top: 3px;
        text-align: center;
    }
}
