@import "../../variables.scss";

.ext-system-detail {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 5px;
    h4 {
      padding-top: 5px;
        font-size: small;
        font-weight: bold;
        margin-bottom: 1px;
    }
}
