@import "../../variables.scss";

.logs-detail {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--spacingHorizontalS);
    h4 {
        font-weight: bold;
        margin-bottom: 1px;
    }
}

.logs-readout {
    flex-grow: 1;
    min-height: 0;
    display: flex;
}

.logs {
    flex: 1;
    background-color: black;
    color: #eee;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    border: 1px solid var(--colorNeutralStroke1);
    border-radius: var(--borderRadiusXLarge);
    resize: none;
}

.log-controll-buttons {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: var(--spacingVerticalXS);
}
