@import "../../variables.scss";
.permission-checkbox-form {
    padding: 10px;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    display: flex;

    .item-row{
        margin-bottom: 5px;

        .icon {
            padding: 5px;
            margin-right: 5px;
        }
        label{
            margin:0;
        }
    }
    .items-left {
        white-space: nowrap;
        padding-right: 20px;
    }
    .items-right {
        border-left: $border-color 1px solid;
        width: 100%;
        margin: -10px;
        padding: 10px;
    }
}

.permission-checkbox-form-tooltip {
    text-align: left;
}
