@import "../../variables.scss";
.scopes-permissions-container {
    background-color: $shade-0;
    border: 1px solid $border-color;

    .admin-rights-content {
        .admin-rights-right {
            display: flex;
            flex-direction: row;

            .permission-checkbox-form {
                overflow-y: auto;
                width: 50%;
            }
        }
    }
    .add-remove-listbox {
        border-width: 0 1px 0 0;

        &:focus {
            border-color: $border-color !important; 
            outline-width: 1px !important;
        }
        .listbox-container:focus {
        }
    }
}
