@import "~variables.less";

.dao-container {

  height: 100%;
  width: 100%;

  display: flex;

  .dao-detail {
    flex-grow: 1;

    .title {
      padding: 5px;
      font-size: @font-size-base * 1.1;
    }

    .info {
      padding: 0px 5px 5px 5px;
    }
  }

  .dao-files {
    width: 200px;

    height: 100%;

    display: flex;
    flex-flow: column;
    padding: 5px;

    .dao-files-list {
      border: 1px solid @fa-file-tree-border;
      flex-grow: 2;

      overflow-y: scroll;

      .item {
        padding: 5px;

        &:nth-child(odd) {
          background-color: #F8F8F8;
        }

        &:nth-child(even) {
          background-color: #FEFEFE;
        }
      }
    }

    .dao-files-detail {
      padding: 5px;
      border: 1px solid @fa-file-tree-border;
      border-top: none;
      flex-grow: 1;
    }
  }

}