@import "~variables.less";

.arr-output-detail-container {
    .fund-nodes-container {
        padding: 5px;
        background: @fa-file-tree-bg;
        border: 1px solid @fa-file-tree-border;
        border-top: none;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}