@import "/variables.less";

.arr-structure-panel {
    display: flex;
    flex-direction: column;
    height: 100%;

    .actions {
        & > .dropdown > .btn {
                padding: 0 2px;
        }
        & > .btn {
            padding: 2px;
        }
        .btn {
            border: none;
            margin: 0;
            background: transparent;
            font-size: 1.3em;

            &:hover {
                background-color: @node-form-actions-hover;
            }

            &--multiselect {
                &:focus {
                    outline: none !important;
                    box-shadow: none;
                }
            }

            .icon {
                color: #000000;
                height: 1.35em;
                width: 1.35em;
                vertical-align: middle;
            }
        }
    }

    .filter {
        .form-group {
            flex:1;
        }
    }

    .list {
        flex: 1 1 auto;

        .listbox-item {
            .btn {
                height: auto;
                padding: 0 6px 0 5px;
                margin-left: 5px;

                &--context-menu {
                    display: none;
                }
            }

            &:hover {
                .btn {
                    &--context-menu {
                        display: flex;
                        align-items: center;

                        .icon {
                            -webkit-transform: rotate(90deg);
                            -moz-transform: rotate(90deg);
                            -o-transform: rotate(90deg);
                            -ms-transform: rotate(90deg);
                            transform: rotate(90deg);
                        }
                    }
                }
            }

            &> div {
                width: 100%;
                padding: 2px 5px;
                display: flex;
                align-items: center;
    
                .structure-name {
                    display: flex;
                    flex-grow: 1;
                    
                    &-complement {
                        margin-left: 5px;
                        color: #aaa;
                    }
                }

                .tooltip-trigger {
                    display: flex;
                    width: auto;
                }
            }
        }
    }

    .selection {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px 0;
    }

    .floating-menu {
        border: 1px solid #ccc;
        box-shadow: 2px 5px 12px rgba(0,0,0,0.125);
        .item {
            padding: 3px 10px;
            cursor: pointer;

            &:hover {
                background-color: #eee;
            }
        }
        .divider {
            height: 0;
            border-top: 1px solid #ccc;
        }
    }
}
.error-message {
    //background-color:red;
    padding: 5px;
    text-align: left;

    .error-list {
        ul {
            margin-bottom:0;
            padding-left: 15px;
        }
    }
    .error-item {
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
