
@movementsActionsSize: 148px;
@movementsActionsSize-half: @movementsActionsSize / 2;

.fa-extended-view-container {
    .movements {
        display: flex;
        width: 100%;
        .tree-left-container, .tree-right-container {
            width: calc(~"50% - "@movementsActionsSize-half);
            height: 100%;
            background: white;
            border: 1px solid #cacaca;
        }
        .tree-actions-container {
            width: @movementsActionsSize;
            text-align: center;
        }
        .tree-left-container {
        }
        .tree-right-container {
        }
    }
}
