@import "~variables.less";

.finding-aid-file-tree-conteiner {
    height: 100%;
    background: @gray-lighter;
    position: relative;
    overflow: auto;
}
.opened .finding-aid-file-tree-conteiner {
    padding: 6px;
}
