@import "~variables.less";

.fa-tabs-container {
    display: block;

    .extended-view-toggle {
        position: absolute;
        right: 3px;
        top: 7px;
        border: none;
    }
}