@import "~variables.less";

@fa-tree-level-margin: 16px;

@rowHeight: 22px;

.fa-tree-lazy-container {
    height:100%;
    overflow: auto;

    .level {
        display: inline-block;
        height: 16px;
        line-height: 16px;
        width: 10px;
        color: gray;
        font-size: 0.8em;
        text-align: center;
        vertical-align: bottom;
        overflow: hidden;
        padding: 0 2px;
    }

    .level:first-child  {
        margin-left: 3px;
    }
    .separator {
        font-size: 0.5em;
        line-height: 16px;
        width: 1px;
        border-left: 1px solid gray;
    }

    .exp-col {
        display: inline-block;
        height: 16px;
        line-height: 16px;
        width: 16px;
        text-align: center;
        vertical-align: bottom;
        cursor: pointer;
    }

    .node-label {
        display: inline-block;
        height: 16px;
        line-height: 16px;
        vertical-align: bottom;
        cursor: pointer;
        &:hover {
            background: @nav-link-hover-bg;
        }         
    }

    .node-icon {
        display: inline-block;
        height: 16px;
        line-height: 16px;
        vertical-align: bottom;
    }

    .node {
        display: block;
        height: @rowHeight;
        white-space: nowrap;
    }

    .level.small {
        font-size: 0.5em;
    }    

    .active {
        background: silver;
    }  

    .focus {
        .node-label {
            outline: 1px solid darkgray;
        }
    }    
}
