@import "~variables.less";

.node-form-standard-actions {
  .btn {
    padding: 2px;
    border: none;
    margin: 0;
    background: transparent;
    height: 2em;
    font-size: 0.9em;
    .icon {
      color: @node-form-actions-color;
      height: 1.35em;
      line-height: 1.35em;
      width: 1.35em;
      vertical-align: middle;
    }
  }
  .btn:hover {
    background-color: @node-form-actions-hover;
  }
}

.fund-packets {
  height: 100%;
  display: flex;
  flex-direction: column;

  > .actions-container {
    flex-shrink: 0;
    height: 1.8em;
    margin-bottom: 6px;

    .actions {
      white-space: nowrap;
      width: 100%;

      .node-form-standard-actions;
    }
  }

  .filterable-listbox-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height:100%;
    .search-action-container {
      flex-shrink: 0;
    }
    .list-container {
      display: flex;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      height:100%;

      .listbox-container {
        flex-grow: 1;
        overflow: hidden;
        overflow-y: auto;

        .listbox-item{
          padding:1px 3px;
        }
      }
    }
  }

  .search-action-container {
    display: block;
    > .search-container {
      display: flex;
      width: auto;
      .search-container {
        width: 100%;
      }

      > * {
        margin-right: 6px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .actions-container {
      text-align: right;
    }
  }

  .state-filter {
    .form-group {
      display: flex;
      label {
        font-weight: normal;
      }
      select {
        width: auto;
      }
    }
  }
}
