.fund-data-grid-cell-edit {
    .modal-dialog {
        margin: 0;
        position: fixed;
        width: auto;
        visibility: hidden;
        //margin-top: 16px;

        .modal-body {
            padding: 0;
        }

        .modal-footer {
            padding: 8px;
        }

        .desc-item-group, .desc-item-type {
            &.active {
                background: transparent !important;
            }
        }
    }
}