.fund-filter-settings-dialog {
    .modal-dialog {
        width: 90%;
    }
}

.fund-filter-settings-container {
    .filters-container {
        display: flex;
        flex-direction: columns;
        .filter-content-container {
            flex-grow: 1;
            width: 100%;
        }
    }
    
    .filterable-listbox-container {
        .listbox-container {
            max-height: 320px;
            overflow: auto;
        }
    }
    
}
