.fund-filter-settings-container {
    .filters-container {
        display: flex;
        flex-direction: column;
        .filter-content-container {
            flex-grow: 1;
            margin: 5px 0;
            h4 {
                margin-bottom: 5px;
            }
            .inputs-container, .value-container  {
                .form-group {
                    margin-bottom: 5px;
                }
            }
        }
    }
    
    .filterable-listbox-container {
        .search-action-container {
            display: flex;
            justify-content: space-between;

            .search-container {
                width: 250px;
            }
        }
        .listbox-container {
            max-height: 105px;
            overflow: auto;
        }
    }
    
}
