@import "~variables.less";

.finding-aid-file-tree-container {
    height: 100%;
    position: relative;
    overflow: auto;
    background: @fa-file-tree-bg;
    
    .icon {
        margin-right: 6px;
    }
    
    .finding-aid {
    }
    .version {
        padding-left: 12px;
        &:hover a {
            background: @fa-file-tree-active-bg;
        }
    }
}
.opened .finding-aid-file-tree-container {
    padding: 6px;
}
