@import "~variables.less";

.fund-nodes-list-listbox {
    background: @fa-file-tree-bg-list;
    border: 1px solid @fa-file-tree-border;
    flex-grow: 1;
    margin: 0;
    overflow: hidden;
    overflow-y: auto;
}