@import "/variables.less";

.lecturing-top {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    .btn {
        background: transparent;
        border: none;
    }
    .list-container {
        display: flex;
        flex: 1;
        .listbox-wrapper {
            height: 100%;
            .item {
                padding: 3px 5px;
            }
        }
    }
}
