@import "~variables.less";

@tabs-height: 32px;

.node-tabs-container {
    height: 100%;
    
    .tabs-tabs-container {
        height: @tabs-height;
    }
    
    .tab-content {
        height: calc(~"100% - "@tabs-height);
        border: 1px solid #DDDDDD;
        border-top: none;
        padding: 4px;
        background: #f8f8f8;
    }
}