@import "~variables.less";

@parts-margin: 4px;
@node-panel-actions-height: 26px;
@node-panel-parents-height: 15%;
@node-panel-content-height: 80%;
@node-panel-children-height: 15%;

.node-panel-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;

    .reference-mark {
        color: @tree-node-reference-mark;
        font-size: 0.7em;
        margin:0;
        padding:0 5px;

    }

    .main {
        flex-grow: 1;
        //overflow: hidden;
        //height: 100%;
        display: flex;
        flex-direction: column;

        .actions-container {
            width: 100%;
            background: @node-panel-actions-bg;
            //max-height: 1.8em;
            //min-height: 1.8em;
            //line-height: 1.8em;
            position: relative;
            //margin-bottom: 5px;
            //background-color: red;


        }
        .content {
            margin-bottom: @parts-margin;
            margin-top: @parts-margin;
            height: @node-panel-content-height;
            flex-grow: 1;

            .inner-wrapper {
                height: 100%;
                border: 1px solid @node-panel-border;

                display: flex;
                flex-direction: column;

                .menu-wrapper {

                }
                .floating-menu-wrapper{
                  position:relative;
                  height:100%;
                }
                .content-wrapper {
                    height: 100%;
                    overflow: auto;
                    overflow-x: hidden;


                }

                &:focus {
                    .content-wrapper {
                        .accordion-item {
                            &.focused {
                                .accordion-header-container {
                                    .accordion-header {
                                        background: @accordion-header-bg-opened;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .accordion-item:first-child {
                &.opened {
                    margin-top: 0;
                }
            }
            .accordion-item {
              position:relative;
                &.opened {
                    margin-top: -1px;
                    .accordion-header-container {
                        border-bottom: none;
                        .accordion-header {
                            font-weight: bold;
                            margin-bottom: 0;
                            background: @accordion-header-bg-opened;
                        }
                    }
                }
                .accordion-header-container {
                    position: relative;

                    flex-wrap: nowrap;
                    table-layout:fixed;
                    border-bottom: 1px solid @accordion-header-border;
                    width: 100%;

                    .accordion-header {
                        display: flex;
                        height: 32px;
                        padding: 4px;
                        cursor: pointer;
                        background: @accordion-header-bg;
                        align-items: center;

                        .accordion-header-left {
                            display: inline-flex;
                            flex-grow: 0;
                            //width: 60%;
                            padding: 5px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            vertical-align: middle;
                        }

                        .accordion-header-right {

                            flex-grow: 1;
                            padding: 5px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            /*color: grey;*/
                            vertical-align: middle;

                            .title {
                                font-size: 0.9em;
                                font-weight: normal;
                            }
                        }
                        .status {
                            display: table-cell;
                            width: 20px;
                            vertical-align: middle;
                        }
                    }
                }

                .accordion-body {
                    border: solid @accordion-header-border;
                    border-width: 0 0 1px 0;
                }
            }

        }
        .children, .parents {
            height: @node-panel-children-height;
            overflow-y: auto;
            border: 1px solid @node-panel-children-border;
            background: @node-panel-children-bg;
        }
    }
}

.tooltip {
    .missing {
        font-weight: bold;
    }

    .error {
        font-weight: bold;
    }

    .missing, .message, .error {
        text-align: left;
    }

    .ignore {
        color: #afafaf;
    }
}
