@import "~variables.less";

@parts-margin: 4px;
@node-panel-actions-height: 26px;
@node-panel-parents-height: 15%;
@node-panel-content-height: 70%;
@node-panel-children-height: 15%;

.node-panel-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;

    > .actions {
        background: @node-panel-actions-bg;
        height: 2.5em;;
        line-height: 2.5em;
        .btn {
            background: transparent;
            height: 2em;
            font-size: 0.9em;
            border: none;
            padding: 2px;
            margin: 0;
            margin-right: 3px;
            border-radius: 0;
            .icon  {
                color: @node-form-actions-color;
                height: 1.35em;
                line-height: 1.35em;
                width: 1.35em;
                vertical-align: middle;
            }
        }
        .btn:hover {
            background-color: @node-form-actions-hover;
        }
        button.btn {
            padding: 0 10px;
            border: 1px solid #ccc;
            background-color: #fff;
        }
        .form-control {
            width: 165px;
            display: inline-block;
            vertical-align: middle;
        }
    }
    .parents {
        height: @node-panel-parents-height;
        overflow-y: auto;
        border: 1px solid @node-panel-parents-border;
        background: @node-panel-parents-bg;
        
        .node {
            cursor: pointer;
            &:hover {
                background: @node-panel-parents-active-bg;
            }
        }
    }
    .content {
        margin-bottom: @parts-margin;
        margin-top: @parts-margin;
        border: 1px solid @node-panel-border;
        height: 100%;
        overflow: auto;
        overflow-x: hidden;

        .status {
            float: right;
        }

        .accordion-item {
            &.opened {
                .accordion-header {
                    font-weight: bold;
                    border-bottom-color: @accordion-header-bg;
                    margin-bottom: 0;
                }
            }
            .accordion-header {
                min-height: 32px;
                background: @accordion-header-bg;
                border-bottom: 1px solid @accordion-header-border;
                padding: 4px;
                cursor: pointer;
            }
            
            .accordion-body {
                border: solid @accordion-header-border;
                border-width: 0 0 1px 0;
            }
        }
        
    }
    .children {
        height: @node-panel-children-height;
        overflow-y: auto;
        border: 1px solid @node-panel-children-border;
        background: @node-panel-children-bg;
        
        .node {
            cursor: pointer;
            &:hover {
                background: @node-panel-children-active-bg;
            }
        }
    }
}

.tooltip {
    .missing {
        font-weight: bold;
    }

    .error {
        font-weight: bold;
    }

    .missing, .message, .error {
        text-align: left;
    }
}