@import "~variables.less";

@parts-margin: 4px;
@node-panel-actions-height: 26px;
@node-panel-parents-height: 15%;
@node-panel-content-height: 70%;
@node-panel-children-height: 15%;

.node-panel-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;

    .reference-mark {
        color: @tree-node-reference-mark;
        font-size: 0.7em;
    }

    > .actions {
        background: @node-panel-actions-bg;
        height: 2.5em;;
        line-height: 2.5em;
        .btn {
            background: transparent;
            height: 2em;
            font-size: 0.9em;
            border: none;
            padding: 2px;
            margin: 0;
            margin-right: 8px;
            &.dropdown-toggle {
                padding: 0 3px 0 3px;
                margin-left: -8px;
            }
            .icon  {
                color: @node-form-actions-color;
                height: 1.35em;
                line-height: 1.35em;
                width: 1.35em;
            }
        }
        .btn:hover {
            background-color: @node-form-actions-hover;
        }
        .form-group {
            display: inline-block;
            height: 1.8em;
            line-height: 1.8em;
        }
        .form-control {
            width: 165px;
            display: inline-block;
        }
        .search-input {
            display: inline-block;
            position: relative;
            height: 1.8em;
            line-height: 1.8em;
            .btn {
                border: none;
                background: transparent;
                height: 1.8em;
                line-height: 1.8em;
                position: absolute;
                right: 0;
                top: 0;
                margin: 0;
                padding: 0 2px;
                font-size: 1em;
                &:hover{
                    background: @node-form-actions-hover;
                }
            }
        }
    }
    .parents {
        height: @node-panel-parents-height;
        overflow-y: auto;
        border: 1px solid @node-panel-parents-border;
        background: @node-panel-parents-bg;
        
        .node {
            cursor: pointer;
            &:hover {
                background: @node-panel-parents-active-bg;
            }
        }
    }
    .content {
        margin-bottom: @parts-margin;
        margin-top: @parts-margin;
        border: 1px solid @node-panel-border;
        height: 100%;
        overflow: auto;
        overflow-x: hidden;

        .status {
            float: right;
            margin-left: 5px;
        }

        .accordion-item {
            &.opened {
                .accordion-header {
                    font-weight: bold;
                    border-bottom-color: @accordion-header-bg;
                    margin-bottom: 0;
                }
            }
            .accordion-header {
                min-height: 32px;
                background: @accordion-header-bg;
                border-bottom: 1px solid @accordion-header-border;
                padding: 4px;
                cursor: pointer;

                .accordion-header-left {
                    float: left;
                    width: 60%;
                    margin: 4px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .accordion-header-right {
                    float: right;
                    margin: 4px;
                    width: calc(~"40% - 20px");
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    &>span, &>div {
                        display: inline-block;
                    }
                    .title {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: calc(~"100% - 20px");
                        color: grey;
                        font-size: 0.9em;
                        font-weight: normal;
                        line-height: 1.8em;
                    }
                }
            }
            
            .accordion-body {
                border: solid @accordion-header-border;
                border-width: 0 0 1px 0;
            }
        }
        
    }
    .children {
        height: @node-panel-children-height;
        overflow-y: auto;
        border: 1px solid @node-panel-children-border;
        background: @node-panel-children-bg;
        
        .node {
            cursor: pointer;
            &:hover {
                background: @node-panel-children-active-bg;
            }
        }
    }
}

.tooltip {
    .missing {
        font-weight: bold;
    }

    .error {
        font-weight: bold;
    }

    .missing, .message, .error {
        text-align: left;
    }
}