/**
 * Styly pro NodeActionsBar
 *
 * @author Jakub Randák
 * @since 31.8.2016
 */

@import "~variables.less";
/* TODO @randak - Příliš obecné názvy tříd - ideálně dát .node-actions-bar { .x } */
.left-side{
  display:flex;
  position: absolute;
  left: 10px;
  height:100%;
  align-items: center;
}
.right-side{
  display:flex;
  position: absolute;
  right: 10px;
  height:100%;
  align-items: center;
}
.button-wrap{
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.actions {
    white-space: nowrap;
    display:flex;
    position: relative;
    //max-height: 1.8em;
    //min-height: 1.8em;
    //line-height: 1.8em;
    //background-color: blue;

    .dropdown.btn-group {
        //vertical-align: top;
    }
    .btn {
        background: transparent;
        height: 2em;
        font-size: 0.9em;
        border: none;
        padding: 2px 4px;
        margin: 0 2px;
        //margin-right: 8px;
        vertical-align: top;
        &.dropdown-toggle {
            padding: 0 3px 0 3px;
            margin-left: -8px;
        }
        .icon  {
            color: @node-form-actions-color;
            height: 1.35em;
            line-height: 1.35em;
            width: 1.35em;
        }
        &:hover {
            background-color: @node-form-actions-hover;
        }
    }
    .form-group {
        display: inline-block;
        height: 1.8em;
        line-height: 1.8em;
    }
    .form-control {
        width: 165px;
        display: inline-block;
    }
    .search-input {
        display: inline-block;
        position: relative;
        height: 1.8em;
        line-height: 1.8em;
        .btn {
            margin: 0;
        }
    }
}

/* END */
