@import "/variables.less";
@import "./ReferenceMark.less";

@rowHeight: 16px;

.fund-search {
    .referenceMark;

    &-result {
        .exp-col {
            flex-grow: 1;
            line-height: 16px;
            min-width: 26px;
            max-width: 26px;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
        }

        .node-label {
            display: flex;
            flex-grow: 1;
            height: 16px;
            line-height: 16px;
            vertical-align: middle;
            cursor: pointer;
            &:hover {
                background: #EEEEEE;
            }
        }

        .node-icon {
            height: 16px;
            line-height: 16px;
            vertical-align: middle;
            margin: 0 5px 0 3px;
        }

        .node-icon-color {
            padding:0 2px;
            width:2em;
            height:2em;
            text-align:center;
            font-size: 0.7em;
            flex-shrink: 0;
            border-radius: 20px;
            line-height:2em;
        }

        .node {
            display: flex;
            height: @rowHeight;
            white-space: nowrap;
            font-size: 0.9em;
            width: 100%;
            &:hover {
                background: @tree-node-label-active-bg;
                cursor: pointer;
            }
        }

        .node-color {
            height: auto;
            padding:1px;
            .exp-col{
                width:20px;
                min-width:auto;
                max-width:auto;
            }
        }

        .active {
            background: @tree-node-active-bg;
            &:hover {
                background: @tree-node-active-hover-bg;
            }
            .node-label {
                background: @tree-node-active-bg;
                &:hover {
                    background: @tree-node-active-hover-bg;
                }
            }
        }
    }

    &-no-fulltext {
        display: flex;
        min-height: 300px;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 1.2em;
        text-align: center;
    }
}