@import "/variables.less";
@import "./ReferenceMark.less";

@rowHeight: 16px;

.fund-search {
    min-height: 300px;

    &.no-fulltext {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 1.2em;
        text-align: center;
    }

    &.result {
        margin-top: 10px;
        padding: 10px;
        border: 1px solid #ccc;
            
        .exp-col {
            flex-grow: 1;
            line-height: 16px;
            min-width: 26px;
            max-width: 26px;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
        }

        .fund {
            display: flex;
            height: @rowHeight;
            white-space: nowrap;
            font-size: 0.9em;
            width: 100%;
            &:hover {
                background: @tree-node-label-active-bg;
                cursor: pointer;
            }

            &-icon {
                height: 16px;
                line-height: 16px;
                vertical-align: middle;
                margin: 0 5px 0 3px;
    
                &-color {
                    width:2em;
                    height:2em;
                    padding:0 2px;
                    flex-shrink: 0;
                    text-align:center;
                    flex-shrink: 0;
                    border-radius: 20px;
                    font-size: 0.7em;
                }
            }

            &-label {
                display: flex;
                flex-grow: 1;
                height: 16px;
                line-height: 16px;
                vertical-align: middle;
                cursor: pointer;
                &:hover {
                    background: #EEEEEE;
                }
            }
        }
    }
}