@import "~variables.less";

@valueActionWidth: 22px;
@descItemDraggerSize: 6px;

.node-form-standard-actions {
    .btn {
        padding: 2px;
        border: none;
        margin: 0;
        background: transparent;
        height: 2em;
        font-size: 0.9em;
        .icon  {
            color: @node-form-actions-color;
            height: 1.35em;
            line-height: 1.35em;
            width: 1.35em;
            vertical-align: middle;
        }
    }
    .btn:hover {
        background-color: @node-form-actions-hover;
    }
}

.node-form {
    //overflow-x: hidden;
    font-weight: normal;
    background: @node-form-bg;

    .active {
        font-weight: normal;
    }

    .desc-item-groups {
        .desc-item-group {
            background: @node-form-group-bg;
            border: 1px solid @node-form-group-border;
            &.active {
                background: @node-form-group-active-bg;
                border: 1px solid @node-form-group-active-border;
            }

            .desc-item-types {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                .el-0 {
                    width: 100%;
                }
                .el-1 {
                     width: @node-form-item-type-element-width;
                }

                .el-2 {
                    width: @node-form-item-type-element-width * 2;
                }

                .el-3 {
                    width: @node-form-item-type-element-width * 3;
                }

                .el-4 {
                    width: @node-form-item-type-element-width * 4;
                }

                .el-5 {
                    width: @node-form-item-type-element-width * 5;
                }

                .el-6 {
                    width: @node-form-item-type-element-width * 6;
                }

                .el-7 {
                    width: @node-form-item-type-element-width * 7;
                }

                .el-8 {
                    width: @node-form-item-type-element-width * 8;
                }

                .el-9 {
                    width: @node-form-item-type-element-width * 9;
                }

                .el-10 {
                    width: @node-form-item-type-element-width * 10;
                }

                .desc-item-type {
                    background: @node-form-item-type-bg;
                    &.active {
                        background: @node-form-item-type-active-bg;
                        .desc-item-type-label {
                            .actions{
                                .btn {
                                    visibility: visible;
                                }
                            }
                        }
                    }
                    &:hover {
                        .desc-item-type-label {
                            .actions{
                                .btn {
                                    visibility: visible;
                                }
                            }
                        }
                    }
                    
                    // Dragger
                    .dragger {
                        width: @descItemDraggerSize;
                        flex-shrink: 0;
                        height: 1.8em;
                        background-color: @dragger-bg;
                        padding-top: 2px;
                        position: relative;
                        cursor: pointer;
                        &:hover {
                            background-color: @dragger-bg-hover;
                            .icon {
                                display: block;
                            }
                        }
                        .icon{
                            position: absolute;
                            font-size: 0.9em;
                            display: none;
                            &.up {
                                top: 2px;

                            }
                            &.down {
                                top: 10px;
                            }
                        }
                    }

                    .placeholder {
                        width: 100%;
                        height: 1px;
                        background: #a0a0a0;        
                    }                    
                    // END - Dragger
                    
                    white-space: nowrap;
                    padding: 5px 5px 7px 5px;

                    .desc-item-type-label {
                        height: 1.7em;
                        position:relative;
                        .title {
                            display: inline-block;
                            margin-right: 10px;
                        }
                        .actions {
                            display: inline-block;
                            .node-form-standard-actions;

                            .btn {
                                visibility: hidden;
                                padding: 0;
                                height: 16px;
                                line-height: 0;
                                &.alwaysVisible {
                                  visibility: visible;
                                }
                                .icon {
                                    height: 16px;
                                    width: 16px;
                                    line-height: 16px;
                                    &.fa-stack-1x {
                                        margin-left: 2px;
                                        font-size: inherit;
                                    }
                                }
                                .unlocked, .nocopy {
                                    color: @node-form-actions-active-color;
                                }

                                .locked, .copy {
                                    color: @node-form-actions-color;
                                    background-color:@node-form-actions-hover;
                                }
                                .locked {
                                    visibility: visible;
                                }
                                .copy {
                                    visibility: visible;
                                }
                                .messages {
                                    visibility: visible;
                                }
                            }
                        }
                        .desc-item-type-edited {
                            font-size: 0.8em;
                            color: #a0a0a0;
                            position:absolute;
                            right: 0;
                            top:0;
                        }

                    }

                    &.read-mode .desc-item-type-label {
                        font-weight: bold;
                    }

                    .desc-item-type-desc-items {
                        .desc-item-type-desc-item-container {
                            padding-top: 2px;
                            padding-bottom: 2px;
                            display: flex;
                            &:first-child {
                                padding-top: 0;
                            }
                            &:last-child {
                            }

                            .desc-item-value-container {
                                display: flex;
                                flex-wrap: nowrap;
                                flex-grow: 1;
                                width: 100%;
                                word-wrap: break-word;

                                &.desc-item-spec-and-value {
                                    .desc-item-value {
                                        width: 50%;
                                    }
                                    .desc-item-spec {
                                        width: 50%;
                                    }
                                }

                                .desc-item-spec {
                                    width: 100%;
                                    &.error {
                                        background: @node-form-value-error-bg;
                                    }
                                }
                                .desc-item-value {
                                    width: 100%;
                                    .error {
                                        &input, input, &textarea, textarea, &select, select {
                                            background: @node-form-value-error-bg;
                                        }
                                    }
                                    input, textarea, select {
                                        &.error {
                                            background: @node-form-value-error-bg;
                                        }
                                    }
                                    .desc-item-value-actions {
                                        display: block;
                                    }
                                }
                            }
                            .desc-item-action-container {
                                .node-form-standard-actions;
                                flex-shrink: 0;
                            }
                        }
                    }
                    .desc-item-type-actions {
                        .node-form-standard-actions;
                    }
                }
            }
        }
    }
}
