@import "~variables.less";

.node-register-form-standard-actions {
    .btn {
        padding: 2px;
        border: none;
        margin: 0;
        background: transparent;
        height: 2em;
        font-size: 0.9em;
        .icon  {
            color: @node-form-actions-color;
            height: 1.35em;
            line-height: 1.35em;
            width: 1.35em;
            vertical-align: middle;
        }
    }
    .btn:hover {
        background-color: @node-form-actions-hover;
    }
}

.node-register {

    border-top: 1px solid @node-form-group-active-border;
    background-color: @node-form-registry;

    .node-register-title {
        /*font-weight: bold;*/
        padding-left: 5px;
        padding-top: 5px;
    }

    .node-register-form-standard-actions;

    .register-form {

        padding: 5px;
        max-width: @node-form-item-type-element-width * 2;

        .links {

            .link {
                display: flex;
                margin-bottom: 4px;

                &:last-child {
                    margin-bottom: 0;
                }

                .link-value {
                    width: 100%;
                }

            }

        }


    }

}
