@import "~variables.less";

.node-dao {

    border-top: 1px solid @node-form-group-active-border;
    background-color: @node-form-dao;

    .node-dao-title {
        padding-left: 5px;
        padding-top: 5px;
        display: inline-block;
        vertical-align: middle;
    }

    .actions {
        display: inline-block;
    }

    .dao-form {

        padding: 5px;
        display: table;

        .links {
            display: table-row;

            .link {
                display: table-cell;
                vertical-align: middle;
            }

            .actions {
                display: table-cell;
            }

        }


    }

}
