@import "~variables.less";

@valueActionWidth: 22px;

.node-form-standard-actions {
    .btn {
        padding: 2px;
        border: none;
        margin: 2px;
        background: transparent;
        .glyphicon  {
            color: @node-form-actions-color;
        }
    }
}

.node-form {
    overflow-x: hidden;
    font-weight: normal;
    background: @node-form-bg;

    .node-form-actions {
        background: @node-form-actions-bg;
        .node-form-standard-actions;
    }
    
    .active {
        font-weight: normal;
    }

    .desc-item-groups {
        .desc-item-group {
            background: @node-form-group-bg;
            border: 1px solid @node-form-group-border;
            &.active {
                background: @node-form-group-active-bg;
                border: 1px solid @node-form-group-active-border;
            }

            .desc-item-types {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                .desc-item-type {
                    background: @node-form-item-type-bg;
                    &.active {
                        background: @node-form-item-type-active-bg;
                    }                    
                    
                    white-space: nowrap;
                    padding: 4px;
                    min-width: 280px;

                    .desc-item-type-label {
                        .title {
                            display: inline-block;
                        }
                        .actions {
                            display: inline-block;
                            .node-form-standard-actions;

                            .btn {

                                .unlocked, .nocopy {
                                    color: @node-form-actions-active-color;
                                }

                                .locked, .copy {
                                    color: @node-form-actions-color;
                                }
                            }
                        }

                    }

                    .desc-item-type-desc-items {
                        .desc-item-type-desc-item-container {
                            margin-bottom: 4px;
                            &:last-child {
                                margin-bottom: 0;
                            }
                            
                            display: flex;
                            
                            .desc-item-value-container {
                                width: calc(~"100% - 28px");

                                display: flex;
                                flex-direction: row;
                                flex-wrap: nowrap;                                

                                .desc-item-spec {
                                    width: 100%;
                                    margin-right: 4px;
                                    &.error {
                                        background: @node-form-value-error-bg;
                                    }
                                }
                                .desc-item-value {
                                    width: 100%;
                                    .error {
                                        background: @node-form-value-error-bg;
                                    }
                                }
                            }
                            .desc-item-action-container {
                                width: 28px;
                                .node-form-standard-actions;
                            }
                        }
                    }
                    .desc-item-type-actions {
                        .node-form-standard-actions;
                    }
                }
            }
        }
    }
}
