@import "~variables.less";

@valueActionWidth: 22px;

.node-form-standard-actions {
    .btn {
        padding: 2px;
        border: none;
        margin: 0;
        background: transparent;
        height: 2em;
        border-radius: 0;
        font-size: 0.9em;
        .icon  {
            color: @node-form-actions-color;
            height: 1.35em;
            line-height: 1.35em;
            width: 1.35em;
            vertical-align: middle;
        }
    }
    .btn:hover {
        background-color: @node-form-actions-hover;
    }
}

.node-form {
    overflow-x: hidden;
    font-weight: normal;
    background: @node-form-bg;

    .node-form-actions {
        background: @node-form-actions-bg;
        height: 1.8em;
        .node-form-standard-actions;
        .btn {
            margin-right: 3px;
        }
    }
    
    .active {
        font-weight: normal;
    }

    .desc-item-groups {
        .desc-item-group {
            background: @node-form-group-bg;
            border: 1px solid @node-form-group-border;
            &.active {
                background: @node-form-group-active-bg;
                border: 1px solid @node-form-group-active-border;
            }

            .desc-item-types {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                .el-0 {
                    width: 100%;
                }
                .el-1 {
                     width: @node-form-item-type-element-width;
                }

                .el-2 {
                    width: @node-form-item-type-element-width * 2;
                }

                .el-3 {
                    width: @node-form-item-type-element-width * 3;
                }

                .el-4 {
                    width: @node-form-item-type-element-width * 4;
                }

                .el-5 {
                    width: @node-form-item-type-element-width * 5;
                }

                .el-6 {
                    width: @node-form-item-type-element-width * 6;
                }

                .el-7 {
                    width: @node-form-item-type-element-width * 7;
                }

                .el-8 {
                    width: @node-form-item-type-element-width * 8;
                }

                .el-9 {
                    width: @node-form-item-type-element-width * 9;
                }

                .el-10 {
                    width: @node-form-item-type-element-width * 10;
                }

                .desc-item-type {
                    background: @node-form-item-type-bg;
                    &.active {
                        background: @node-form-item-type-active-bg;
                    }                    
                    
                    white-space: nowrap;
                    padding: 5px 5px 7px 5px;

                    .desc-item-type-label {
                        height: 1.7em;

                        .title {
                            display: inline-block;
                            
                        }
                        .actions {
                            display: inline-block;
                            .node-form-standard-actions;

                            .btn {

                                .unlocked, .nocopy {
                                    color: @node-form-actions-active-color;
                                }

                                .locked, .copy {
                                    color: @node-form-actions-color;
                                }
                            }
                        }

                    }

                    .desc-item-type-desc-items {
                        .desc-item-type-desc-item-container {
                            margin-bottom: 4px;
                            &:last-child {
                                margin-bottom: 0;
                            }
                            
                            display: flex;
                            
                            .desc-item-value-container {
                                width: 100%;//calc(~"100% - 28px");

                                display: flex;
                                flex-direction: row;
                                flex-wrap: nowrap;                                

                                .desc-item-spec {
                                    width: 100%;
                                    &.error {
                                        background: @node-form-value-error-bg;
                                    }
                                }
                                .desc-item-value {
                                    width: 100%;
                                    .error {
                                        background: @node-form-value-error-bg;
                                    }
                                }
                            }
                            .desc-item-action-container {
                                width: 28px;
                                .node-form-standard-actions;
                            }
                        }
                    }
                    .desc-item-type-actions {
                        .node-form-standard-actions;
                    }
                }
            }
        }
    }
}
