.modal {
    &.dialog-lg {
        .modal-dialog {
            width: 90%;
        }
    }
}
.modal-dialog {
     .modal-footer {
        .btn {
            min-width: 64px;
        }
    }
}
.modal {
    &.dialog-hidden {
        z-index: 1040;
    }
}