@import '~variables.less';
.modal {
    &.dialog-lg {        
        @media screen and (min-width: @screen-md-min) {
          .modal-dialog {
              width: 900px;
          }
        }
    }
}
.modal-dialog {
     .modal-footer {
        .btn {
            min-width: 64px;
        }
    }
}
.modal {
    &.dialog-hidden {
        z-index: 1040;
    }
}
