{
  "presets": [
    "react",
    "stage-0",
    "es2015"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "add-module-exports",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-flow-strip-types"
  ]
}
