.form-control {
    height: 1.8em;
    line-height: 1.8em;
    padding: 0px 5px;
}

.btn {
    height: 1.8em;
    line-height: 1.8em;
    padding: 0 5px;
    font-size: 1em;
    outline: none !important;
}

.form-group .glyphicon {
    display: none;
}

.modal.in .modal-dialog {
    -webkit-transform: initial;
    -ms-transform: initial;
    -o-transform: initial;
    transform: initial;
}


.text-bold{
    font-weight: bold;
}

textarea.form-control {
    height: 6em;
    resize: vertical;
}

.nav-tabs {
  li {
      a {
          border-bottom: none !important;
          &:hover{
              border: 1px solid #ddd;
          }
      }
  }
}

input::-ms-clear {
    display: none;
}

.flex{
    display: flex;

    .flex-grow-1{
        width: 100%;
        flex-grow: 1;
    }
}
