@import "~bootstrap/less/bootstrap.less";

.form-control {
    height: 1.8em;
    line-height: 1.8em;
    padding: 0px 5px;
}

.btn {
    height: 1.8em;
    line-height: 1.8em;
    padding: 0 10px;
    font-size: 1em;
}