.form-control {
    height: 1.8em;
    line-height: 1.8em;
    padding: 0px 5px;
}

.btn {
    height: 1.8em;
    line-height: 1.8em;
    padding: 0 5px;
    font-size: 1em;
}

.form-group .glyphicon {
    display: none;
}

.modal.in .modal-dialog {
    -webkit-transform: initial;
    -ms-transform: initial;
    -o-transform: initial;
    transform: initial;
}


.text-bold{
    font-weight: bold;
}

textarea.form-control {
    height: 6em;
}