@import "/variables.less";

.elements-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .el-0, .el-max, .el-full {
    width: 100%;
  }

  .el-loop (10);

  .el-loop (@n, @i:1) when (@i <= @n) {
    .el-@{i} {
      width: (@node-form-item-type-element-width * @i);
    }
    .el-loop(@n, (@i + 1));
  }
}
