@import "/variables.less";

.elements-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .el-0, .el-max, .el-full {
    width: 100%;
  }
  .el-loop (@i) when (@i > 0) {
    .el-@{i} {
      width: @node-form-item-type-element-width * @i;
    }
    .el-loop(@i - 1);
  }

  .el-loop (10);
}
