.table {
    margin-bottom: 5px;
    thead {
        tr {
            th {
                background-color: @table-header-bg;
                white-space: nowrap;
            }
        }
    }
    tbody {
        tr {
            td {
                .btn {
                    color:@color-link;
                    border: 0;
                    background: transparent;
                    text-decoration: underline;
                    &:hover,&:focus {
                        color:@color-link;
                        border: 0;
                        background: transparent;
                    }
                }
            }
        }
    }
    .no-wrap {
        div {
            display: flex;
        }
        .icon {
            padding: 2px 5px 2px 2px;
        }
    }
}

.table-bordered {
    thead {
        tr {
            th {
                border-bottom-width: 1px;
            }
        }
    }
}