// Vzdálenost mezi společnými hodnotami nebo mezi specifikací a hodnotou
$same-items-spacing: 2px;
$multivalue-item-spacing: 0;

.ap-validation-alert {
    background: rgba(234, 153, 153, 0.4);
    border: 1px solid #EA9999;
    padding: 0.4rem;
    h3 {
        font-size: 15px;
        font-weight: 500;
    }
    ul {
        padding-left: 1.25rem;
        li {
            font-size: 15px;
        }
        margin-bottom: 0;
    }
}

.part-edit-form {
    .action-buttons {
        align-self: flex-end;
        padding-left: 0;
    }
    .item-wrapper {
        padding-bottom: 8px;
        margin-bottom: (6px - $same-items-spacing);

        .item-value-wrapper {
            .ant-form-item {
                padding-bottom: 0;
                margin-bottom: $same-items-spacing;
            }

            &.has-specification.has-value {
                .spcification-wrapper {
                    .ant-select-selection {
                        //border-right-width: 0;
                    }
                }
            }
        }

        .ant-col ~ .ant-col {
            margin-left: $multivalue-item-spacing;
        }

        .item-delete-action {
            position: absolute;
            top: 0;
            right: 15px;
            z-index: 1;
        }
    }
}

.deleted-mode-item-gradient {
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
    height: 100%;
    z-index: 1;
    padding: 1px 1px 3px 6px;
    display: flex;

    > div {
        flex: 1;
        background: rgb(245, 245, 245);
        background: linear-gradient(90deg, rgba(245, 245, 245, 0) 0%, rgba(245, 245, 245, 1) 50%);
    }
}
