.fund-detail-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;

    .fund-detail-tree {
        width: 100%;
        height: 60%;
    }
    
    .fund-detail-info {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;

        h1 {
            flex-shrink: 0;
            font-size: 16px;
        }

        .fund-detail-button {
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
            min-width: 200px;
            min-height: 60px;
            font-size: 16px;
        }

        label {
            margin-right: 5px;
        }

        /*.fund-detail-split {
            display: flex;
            box-sizing: content-box;
            height: 1px;
            width: 100%;
        }

        .versions-container {
            height: 100%;
            overflow: auto;

            .fund-version {
                display: flex;
                .version-label {
                    min-width: 200px;
                }
            }
        }*/
    }
}
