@arr-history-line-height: 24px; // definuje se i v JS!!!!!
@import "/variables.less";

.ap-state-history-form-container {

    .changes-listbox-container {
        height: 100%;

        .listbox-wrapper {
            height: 300px;
        }

        .listbox-item {
            height: @arr-history-line-height;
        }

        .col {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            &.col1 {
                width: 90px;
            }
            &.col2 {
                width: 80px;
            }
            &.col3 {
                width: 120px;
            }
            &.col4 {
                width: 120px;
            }
            &.col5 {
                width: 120px;
            }
            &.col6 {
                width: 50%;
            }
            &.col7 {
                width: 100px;
            }

        }

        .row-container {
            height: @arr-history-line-height;
            display: flex;
        }

        .header-container {
            display: flex;
        }

    }
}
