/**
 * Styly pro editaci rejstrikoveho hesla
*/
.reg-coordinate {
    max-width: 50%;
    display:flex;
    .value {
        width:50%;
        flex-grow: 1;
        display:flex;
        .input-container {
            width:100%
        }
        .error {
            background: #FFDCDC;
        }
        .download {
            float:right;
        }
    }
    .value-text {
        width:50%;
        flex-grow: 1;
        .download {
            float:right;
        }
    }
    .description {
        position:relative;
        width:50%;
        //margin-top: 3px;
        flex-grow:1;
        display:flex;
        .form-group {
            width: 100%;
        }
    }

    margin: 3px 0;
}
