/**
 * Styly pro editaci rejstrikoveho hesla
*/
.reg-coordinates {
    max-width: 50%;
    display:flex;
    .value {
        width:50%;
        flex-grow: 1;
        display:flex;
        .error {
            background: #FFDCDC;
        }

    }
    .value-text {
        width:50%;
        flex-grow: 1;
    }
    .description {
        position:relative;
        width:50%;
        //margin-top: 3px;
        flex-grow:1;
        display:flex;
        .download {
            position:absolute;
            top:2px;
            right:0;
        }
    }

    margin: 3px 0;
}
