/**
 * Styly pro editaci rejstrikoveho hesla
*/

.reg-coordinates-labels {
    max-width: 50%;
    display:flex;
    label {
        flex-grow: 1;
        width: 50%;
    }
}

.variant-name {
    .desc-item-value-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: 100%;
        span {
            flex-grow: 1;
        }
    }
}
