/**
 * Styly pro editaci rejstrikoveho hesla
*/

.variant-name {
    .desc-item-value-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: 100%;
        span {
            flex-grow: 1;
        }
    }
}
