/**
 * Styly pro editaci rejstrikoveho hesla
*/

.reg-coordinates {

    .value {
        display:flex;
        .error {
            background: #FFDCDC;
        }
        .value-text{

        }
    }
    .description {
        margin-top: 3px;
        display:flex;
        label {
            margin: 3px;
        }
    }

    margin: 3px 0;
}
