@import "/variables.less";

.registry-list-item {
    padding: 5px;
    border-bottom: 1px solid #EEEEEE;

    > div {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
    }

    .registry-list-icon-record, .registry-list-icon-list {
        padding-left: 5px;
        width: calc(~'100% - 15px');
    }

    .path {
        font-size: 0.8em;
        color: @color-link;
        width: 100%;
    }
}
.registry-list-item {
  padding: 5px;
  border-bottom: 1px solid #EEEEEE;
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  > div {
    display: flex;
    .icon {
      flex-shrink: 0;
      padding: 3px 5px 3px 0;
    }
    .name, .date, .description {
      font-size: 0.8em;
      white-space: nowrap;
    }
    .name {
      flex: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 1em;
    }
    .date {
      flex-grow: 1;
      flex-shrink: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      min-width: 0;
    }
    .description {
      float: right;
      flex: 0 1 auto;
      text-align: right;
    }
  }
}

.listbox-item {
    .invalid {
        background-color: #999999;
    }
}
