@import "~variables.less";


.autocomplete-record {

    .autocomplete-menu-footer {

        .create-record {
            position: fixed;
            padding: 5px;
            .btn {
                .icon {
                    padding-right: 3px;
                }
            }
        }

        .items-count {
            text-align: right;
            vertical-align: middle;
            line-height: 27px;
            padding: 5px;
        }
    }

    @record-item-padding: 5px;
    @max-width-container: 600px;

    .item {
        display: table-row;

        &.active {
            font-weight: bold;
        }
        &.focus {
            background: #afafaf;
        }

        .name {
            padding: @record-item-padding;
            display: table-cell;
        }

        .type {
            padding: @record-item-padding;
            display: table-cell;;
        }

        .interval {
            padding: @record-item-padding;
            display: table-cell;
        }

        .characteristics {
            padding: @record-item-padding;
            max-width: 300px;
            text-overflow: ellipsis;
            display: table-cell;
            overflow: hidden;
        }
    }

}
