.history-list-container {
    .history-list-item {
        display: inline-block;
    }
}

.autocomplete-registry {
    .autocomplete-menu-header {
        .c1 {
            width: 50px;
            display: inline-block;
        }
        .c2 {
            width: 200px;
            display: inline-block;
        }
    }
    .autocomplete-menu {
        .c1 {
            width: 50px;
            display: inline-block;
        }
        .c2 {
            width: 200px;
            display: inline-block;
        }
    }
    .autocomplete-menu-footer {
        
    }
}