.draggable-window {
    position: fixed;
    z-index: 2100;
    // transition: top 50ms ease-out, left 50ms ease-out;
    // cursor: move;

    &.drag-disable {
        cursor: default;
    }

    .dragger {
        // cursor: move;
        user-select: none;
    }
}
