@import "../../../variables";
@import "~bootstrap/scss/mixins/box-shadow";

.toastrAlertBox {
    position: absolute;
    margin: 64px 10px 0 0;
    top: 0;
    right: 0;
    min-width: 320px;
    max-width: 640px;
    z-index: 2001;
    $padding: 8px;
    .alert {
        @include box-shadow(0 3px 6px rgba(0,0,0,.175));
        padding: $padding $padding $padding (32px + $padding);
        //min-height: 64px;

        opacity: 0;
        transition: opacity 0.5s;
        -webkit-transition: opacity 0.5s;

        &.fade {
            opacity: 1;
        }

        .icon-container {
            width: 32px;
            left: -35px;
            position: relative;
            text-align: center;
            .icon {
                font-size: 22px;
            }
        }

        .content {
            position: relative;
            top: -23px;
            margin-bottom: -25px;
            margin-right: 18px;
        }

        .close {
            right: 0px;
            top: 0px;
        }

        a {
            color: inherit;
            text-decoration: underline;
        }
    }
}
