@import "../../../variables";
@import "~bootstrap/scss/mixins/box-shadow";

.toastrAlertBox {
    position: absolute;
    margin: 80px 20px 0 0;
    top: 0;
    right: 0;
    min-width: 320px;
    max-width: 640px;
    z-index: 2001;
    $padding: 20px;

    .alert {
        @include box-shadow(0 3px 6px rgba(0,0,0,.175));
        padding: $padding $padding $padding (32px + $padding);
        //min-height: 64px;

        opacity: 0;
        transition: opacity 0.5s;
        -webkit-transition: opacity 0.5s;
        box-shadow: 0 0 0 1px $border-color;
        border: none;
        background: $shade-1;
        color: $fg-color;

        &.fade {
            opacity: 1;
        }

        .icon-container {
            width: 32px;
            left: -35px;
            position: relative;
            text-align: center;
            .icon {
                font-size: 22px;
            }
        }

        .content {
            position: relative;
            top: -23px;
            margin-bottom: -25px;
            margin-right: 18px;
        }

        .close {
            right: 0px;
            top: 0px;

            &:hover {
                color: $fg-color;
            }
        }

        a {
            color: inherit;
            text-decoration: underline;
        }

        &.alert-danger {
            border-left: 10px solid $color-red;

            .icon {
                color: $color-red;
            }
        }

        &.alert-success {
            border-left: 10px solid $color-green;

            .icon {
                color: $color-green;
            }
        }
        
        &.alert-info {
            border-left: 10px solid $color-blue;

            .icon {
                color: $color-blue;
            }
        }

        &.alert-warning {
            border-left: 10px solid $color-yellow;

            .icon {
                color: $color-yellow;
            }
        }
    }
}
