.confirm-form-container {
    .message {
        text-align: center;
    }

    .loading-info {
        padding-top: 13px;
        padding-bottom: 15px;
        font-size: 100%;
        overflow: auto;
    }
}
