<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="XXX"/>
        <meta name="description" content=""/>
        <title></title>

        <style>
        </style>

        <!-- IE9+ setTimeout s paramtry -->
        <!--[if lte IE 9]><script>
        (function(f){
        window.setTimeout =f(window.setTimeout);
        window.setInterval =f(window.setInterval);
        })(function(f){return function(c,t){
        var a=[].slice.call(arguments,2);return f(function(){c.apply(this,a)},t)}
        });
        </script><![endif]-->      
    </head>

    <body>
        <section layout:fragment="page-content">
            <p>Obsah stránky</p>
        </section>

        <section layout:fragment="page-js">
        </section>
    </body>
</html>
