<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
      >

    <head>
        <title>ELZA</title>

        <script type="text/javascript" src="" th:src="@{/res/js/messages_cs.js}"></script>
        <link rel="stylesheet" th:if="${!isDevBuild}" href="" th:href="@{/res/css/main.css}"/>
        <link rel="apple-touch-icon" sizes="57x57" th:href="@{/res/favicon/apple-touch-icon-57x57.png}"/>
        <link rel="apple-touch-icon" sizes="60x60" th:href="@{/res/favicon/apple-touch-icon-60x60.png}"/>
        <link rel="apple-touch-icon" sizes="72x72" th:href="@{/res/favicon/apple-touch-icon-72x72.png}"/>
        <link rel="apple-touch-icon" sizes="76x76" th:href="@{/res/favicon/apple-touch-icon-76x76.png}"/>
        <link rel="apple-touch-icon" sizes="114x114" th:href="@{/res/favicon/apple-touch-icon-114x114.png}"/>
        <link rel="apple-touch-icon" sizes="120x120" th:href="@{/res/favicon/apple-touch-icon-120x120.png}"/>
        <link rel="apple-touch-icon" sizes="144x144" th:href="@{/res/favicon/apple-touch-icon-144x144.png}"/>
        <link rel="apple-touch-icon" sizes="152x152" th:href="@{/res/favicon/apple-touch-icon-152x152.png}"/>
        <link rel="apple-touch-icon" sizes="180x180" th:href="@{/res/favicon/apple-touch-icon-180x180.png}"/>
        <link rel="icon" type="image/png" th:href="@{/res/favicon/favicon-32x32.png}" sizes="32x32"/>
        <link rel="icon" type="image/png" th:href="@{/res/favicon/android-chrome-192x192.png}" sizes="192x192"/>
        <link rel="icon" type="image/png" th:href="@{/res/favicon/favicon-96x96.png}" sizes="96x96"/>
        <link rel="icon" type="image/png" th:href="@{/res/favicon/favicon-16x16.png}" sizes="16x16"/>
        <link rel="manifest" th:href="@{/res/favicon/manifest.json}"/>
        <link rel="mask-icon" th:href="@{/res/favicon/safari-pinned-tab.svg}" color="#5bbad5"/>
        <link rel="shortcut icon" th:href="@{/res/favicon/favicon.ico}"/>
        <meta name="msapplication-TileColor" content="#da532c"/>
        <meta name="msapplication-TileImage" th:content="@{/res/favicon/mstile-144x144.png}"/>
        <meta name="msapplication-config" th:content="@{/res/favicon/browserconfig.xml}"/>
        <meta name="format-detection" content="telephone=no"/>
        <meta name="theme-color" content="#ffffff"/>

        <script th:if="${isDefaultUserEnabled}">            
        </script>

        <script th:inline="javascript">
        	/*<![CDATA[*/
            var serverContextPath = [[${contextPath}]];
            var versionNumber = [[${appVersion}]];
            var displayUserInfo = [[${displayUserInfo}]];
            var defaultUserEnabled = [[${isDefaultUserEnabled}]];
            var allowSendOutput = [[${isSendOutputEnabled}]];
            var clientLog = [[${isClientLog}]];
            var logoutUrl = [[${logoutUrl}]];
            /*]]>*/
        </script>
    </head>

    <body tabindex="-1">
        <section layout:fragment="page-content" th:remove="tag">
            <div id="content">
            </div>
        </section>
        <section layout:fragment="page-js" th:remove="tag">
            <!--<script th:if="${isDevBuild}" src="http://localhost:8090/webpack-dev-server.js"></script>-->
            <script th:if="${isDevBuild}" type="text/javascript" src="http://localhost:3000/static/js/bundle.js"></script>
            <script th:if="${isDevBuild}" type="text/javascript" src="http://localhost:3000/static/js/0.chunk.js"></script>
            <script th:if="${isDevBuild}" type="text/javascript" src="http://localhost:3000/static/js/main.chunk.js"></script>

            <script th:if="${!isDevBuild}" type="text/javascript" src="" th:src="@{/res/js/main.js}"></script>
        </section>
    </body>
</html>
