@import "./variables.scss";

.elements-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .el-0, .el-max, .el-full {
    width: 100%;
  }

  @include el-loop (10);

  @mixin el-loop($n, $i:1) when ($i <= $n) {
    .el-#{$i} {
      width: ($node-form-item-type-element-width * $i);
    }
    @include el-loop($n, ($i + 1));
  }
}
