@import "~bootstrap/scss/functions.scss";
@import "~bootstrap/scss/variables.scss";

//Global
$font-size-base: 12px;
$input-height-base: 25px;
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;
$form-group-margin-bottom: 0;
$color-link: #23527c;
$color-warn: #D90606;
$color-success: #29b70c;
$focus-border-color: #66afe9;

    // App header
$app-header-border: #DDDDDD;

// Splitter
$split-pane-divider-bg: #f8f8f8;

// Accordion
$accordion-header-bg: #E7E7E7;
$accordion-header-bg-opened: #C0C0C0;
$accordion-header-border: #f1f1f1;
$accordion-header-border-opened: #a5a5a5;

// Node panel
$node-panel-border: #DDDDDD;
$node-panel-actions-bg: transparent;
$node-panel-parents-bg: white;
$node-panel-parents-active-bg: #C0C0C0;
$node-panel-parents-border: #DDDDDD;
$node-panel-children-bg: $node-panel-parents-bg;
$node-panel-children-active-bg: $node-panel-parents-active-bg;
$node-panel-children-border: $node-panel-parents-border;
$node-panel-actions-height: 3em;

// Node form
$node-form-actions-bg: #EEEEEE;
$node-form-bg: white;
$node-form-value-error-bg: #FFDCDC;
$node-form-actions-color: #000000;
$node-form-actions-hover: #ddd;
$node-form-actions-active-color: #808080;
$node-form-group-bg: transparent;
$node-form-group-border: transparent;
$node-form-group-active-bg: #f9f9f9;
$node-form-group-active-border: #ececec;
$node-form-item-type-bg: transparent;
$node-form-item-type-active-bg: #f0f0f0;
$node-form-item-type-element-width:225px;
$node-form-registry:#f8f8f8;
$node-form-dao:white;

// Tabs
$tabs-tab-active-bg: #f8f8f8;
$tabs-tab-content-bg: $tabs-tab-active-bg;
$tabs-tab-content-border: #DDDDDD;

// Min max buttons - ribbon i levý vyskakovací panel
$btn-min-max-bg: white;
$btn-min-max-border: #DDDDDD;

// Fa file tree panel - levý vyskakovací panel
$fa-file-tree-bg: #f8f8f8;
$fa-file-tree-bg-list: white;
$fa-file-tree-active-bg: #C0C0C0;
$fa-file-tree-border: #DDDDDD;

// Tree
$tree-node-active-bg: #C0C0C0;
$tree-node-active-hover-bg: #CCCCCC;
$tree-node-label-active-bg: #EEEEEE;
$tree-node-focus-border: #A9A9A9;
$tree-node-separator-border: #808080;
$tree-node-reference-mark: grey;

// Ribbon
$ribbon-bg: #f8f8f8;
$ribbon-button-bg: transparent;
$ribbon-button-active-bg: #C0C0C0;

// Table
$table-header-bg: #C0C0C0;

// Dragger
$dragger-bg: #E7E7E7;
$dragger-bg-hover: #C0C0C0;
$dragger-border: #adadad;

// Button
$button-bg-hover: #C0C0C0;

// HomePage
$homepage-static-bg:#f8f8f8;
$homepage-button-bg:#EEEEEE;
$homepage-button-bg-hover:#C0C0C0;
$homepage-empty-list-msg-col:#aaa;
