@import "../../variables.scss";
$movementButtonSize: 8em;

.movements-content-container {
    height: 100%;
    padding: 5px 4px;
    display: flex;
    width: 100%;
    border-left: none;
    position:relative;

    .moving-overlay{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: fadeout(white,20%);
        color: $homepage-empty-list-msg-col;
        position:absolute;
        width: 100%;
        height: 100%;
        z-index: 999;
        font-size: 2em;
        opacity:0;
        visibility:hidden;
        transition:opacity 200ms ease-in-out, visibility 0ms ease-in 200ms;
        .icon{
            font-size: 5em;
        }
        &.visible{
            visibility: visible;
            opacity: 1;
            transition:opacity 200ms ease-in-out 200ms, visibility 0ms ease-in 200ms;
        }
    }
    h2{
        font-size: 1.5em;
        text-align: center;
    }
    .tree-left-container, .tree-right-container {
        flex-shrink:1;
        flex-grow:1;
        width:30%;
        height: 100%;
    }
    .tree-actions-container {
        flex-grow: 0;
        flex-shrink: 0;
        padding: 0 10px;
        text-align: center;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        .arrow{
            display:flex;
            align-items: center;
            flex-shrink: 1;
            flex-grow: 1;
            .icon{
            color:$homepage-button-bg;
        }
        }
        .btn {
            width: $movementButtonSize;
            height: $movementButtonSize;
            display: block;
            position: relative;
            margin: 5px 0;
            padding:1.2em;
            align-items: center;
            justify-content: center;
            white-space: pre-wrap;
            line-height: 1.2em;
            border:none;
            background-color: $homepage-button-bg;
            color: $fg-color;

            &:hover{
                background-color: $homepage-button-bg-hover;
            }
            .icon{
                font-size: 2.5em;
                margin-bottom:0.1em;
                color:$fg-color;
            }
        }
    }
    .tree-left-container {
    }
    .tree-right-container {
    }
}
