@import "../../variables.scss";

$header-height: 64px;
$header-minimized-height: 12px;

// fa file toggle
.fa-page.app-container {
    .app-content {
        .splitter-center {
        }

        .splitter-right {
            .tabs-container {
                .tabs-tabs-container {
                    padding: 0;
                }
                .tab-content {

                    .errors-listbox-container, .visiblePolicies-container {
                        height: 100%;
                        .lazy-listbox-container {
                            .listbox-item {
                                height: 25px;
                                padding: 5px;

                                > div {
                                    white-space: nowrap;
                                    overflow:hidden;
                                    text-overflow: ellipsis;
                                }
                            }
                        }
                    }

                    .developer-panel {
                        overflow-y: auto;
                        overflow-x: hidden;
                        height: 100%;
                    }
                }
            }
        }

        .fund-noselect {
            text-align: center;
            font-size: $font-size-base;
            padding: 10px;
        }

        .developer-panel {
            flex-shrink: 0;
            overflow-y: auto;
            overflow-x: hidden;

            .desc-items-container {
                h1 {
                    font-size: 10px;
                    font-weight: bold;
                    width: 100%;
                    background: #a0a0a0;
                    padding: 4px 0 4px 0;
                    margin: 12px 0 0 0;
                }
                .desc-item-type {
                    padding-bottom: 4px;

                    h2 {
                        padding: 4px 0 0 0;
                        font-size: 14px;
                        font-weight: bold;
                        margin: 0 0 2px 0;
                        small {
                            font-size: 10px;
                            color: #909090;
                        }
                    }
                    h3 {
                        padding: 4px 0 0 0;
                        font-size: 12px;
                        font-weight: bold;
                        margin: 0 0 2px 0;
                        small {
                            font-size: 9px;
                            color: #909090;
                        }
                    }
                    .desc-item-spec {
                        margin-left: 32px;
                    }
                    .desc {
                    }
                    .attrs {
                        margin-bottom: 4px;
                        > div {
                            display: inline-block;
                            margin-right: 6px;
                            >label {
                                font-weight: bold;
                                margin-right: 2px;
                                margin: 0;
                            }
                        }
                    }
                }
                .POSSIBLE {
                    background-color: #e0e6ff;
                }
                .IMPOSSIBLE {
                    background-color: #ffeed3;
                }
                .REQUIRED {
                    background-color: #FFD3D3;
                }
                .RECOMMENDED {
                    background-color: #edffe9;
                }
            }
        }
    }
}
.fa-page.app-container {
    &.noRibbon {
        .fa-file-toggle-container {
            top: $header-minimized-height;
        }
    }

    .extended-tree {
        padding: 5px 4px;
    }

    .fund-tree-container {
        padding: 5px 4px;
        background: $tabs-tab-active-bg;
    }

    .node-tabs-container {
        padding: 5px 4px 0 0;
    }
}
.fund-tree-container-fixed {
    .fund-tree-container {
        height: 400px;
    }
    .fa-tree-lazy-container {
        height: 400px;
    }
}

.issues-panel {
    height: 100%;
    .Resizer.horizontal {
        height: 20px;
        text-align: center;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        &:before {
            content: "\f141";
        }
    }
}
