.detail-part {
    .cursor-pointer {
        cursor: pointer;
    }
    .detail-part-header {
        font-size: 14px;
        font-weight: bold;

        .detail-part-actions {
        }

        .detail-part-label {
            cursor: pointer;

            &:hover {
                color: #317E9F;
            }
        }

        &.detail-part-preferred {
            font-weight: bold;

            .detail-part-label-alt {
                font-weight: normal;
                font-style: italic;
            }
        }
    }
    .opened {
        color: #1A5EBB;
    }
}
