.detail-descriptions {
  font-size: 14px;
  display: flex;
  align-items: center;

  .detail-descriptions-item {
    .detail-descriptions-item-label {
      color: #686868;
      //font-weight: bold;
      margin-right: 6px;
    }

    .detail-descriptions-item-content {
      color: #686868;
    }
  }

  .detail-descriptions-item + .detail-descriptions-item {
    margin-left: 16px;
  }

  .detail-descriptions-item ~ .detail-descriptions-item {
    border-left: 1px solid #D6DBED;
    padding-left: 16px;
  }
}
