.detail-descriptions {
    display: inline-block;
    font-size: 1.1em;

    .detail-descriptions-item {
        padding-right: 8px;
        margin-right: 8px;
        border-right: 1px solid #000000;

        &:last-of-type {
            border-right: none;
        }

        .detail-descriptions-item-label {
            margin-right: 6px;
        }
    }
}
