.detail-multi-selection {
    h4 {
        background-color: #E7E7E7;
    }

    .cursor-pointer {
        cursor: pointer;
    }

    .icon {
        &.disabled {
            color: #A7A7A7;
        }
    }
}
