.container {
  height: 100vh;
  padding: 20px 20px 10px 20px;

  button {
    font-size: 20px;

    &:hover {
      border: 1px solid #d76e68 !important;
    }
  }

  .top {
    border-bottom: 3px solid #d6dbed;
    padding-bottom: 10px;

    button {
      background: #d76e68;
      color: #fff !important;
    }
  }

  .middle {
    padding-top: 20px;
  }
}
