@import 'variables.scss';
@import "bootstrap/less/mixins/buttons.scss";


.add-party-form {
  .flex {
    display:block;
    .complement {
      display: flex;
      > div {
        flex: 1
      }
    }
    .datation-group {
      background: #b9b9b9;
      margin: 15px -15px;
      padding: 15px 15px;
      .btn-action {
        @include button-variant(#000, #b9b9b9, transparent);
      }
    }
  }
  @media screen and (min-width: map_get($grid-breakpoints, 'md')) {
    .flex {
      margin-left: -15px;
      margin-right: -15px;
      align-items: stretch;
      display: flex;
      .flex-1 {
        flex: 1;
        padding-left: 15px;
        padding-right: 15px;
      }
      .flex-2 {
        flex: 2;
        padding-left: 15px;
        padding-right: 15px;
      }
      .datation-group {
        margin: -15px 0;
        padding: 15px;
      }
    }
  }
}
