.party-detail-names, .party-detail-identifiers {
    max-width: 50%;
    padding-bottom: 5px;

    .name-group {
        background-color: #eee;
        margin-left: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        max-width: 100%;
        .value-group{
            height: 2em;

            &.preffered{
                font-weight: bold;
                padding-left: 10px;
                height: 2.5em;
                background-color: #ddd;
                .value{
                    font-size: 1.1em;
                }
            }
        }
        .value-group:nth-child(even){
            background-color: #fafafa;
        }
    }
}
