@import "../../variables.scss";

.modal-dialog {
    .btn-icon {
        display: block;
    }
}

.line{
    .form-group,
    .column{
        flex-grow: 2;
        flex-shrink: 0;
        margin:0;

        &.ico{
            text-align:right;
        }
    }
    .form-group:first-child{
        margin-left: 0;
        margin-right: -1px;

    }
    .column:first-child{
        margin-left: 0px;
    }
    .date-group {
        &>div {
            display: inline-block;
        }
        .date {
            margin-right: 15px;
            display: flex;
            .form-group {
                max-width: 250px;
            }
        }
    }
    &.date {
        &>div {
            display: inline-block;
        }
        .line {
            display: flex;
            margin-right: 15px;
            .form-group {
                max-width: 250px;
            }
        }
    }
}


.block{
    &.entity{
        border:1px solid #cccccc;
        padding:6px;
        background-color:#f8f8f8;
        margin-bottom:7px;
    }
    &.complement {
        margin-bottom: 4px;

        .form-group {
            display: inline-block;
            max-width: 250px;
        }
    }
    .line {
        //height: 1.8em;
        line-height: 1.8em;
        display: flex;
    }
}

.errors{
    padding:0px;
    margin:0px;
    list-style-type:none;
    color:#FF0000;
    font-weight:bold;
    li{
        padding:0px;
        margin:0px;
    }
}
