@import 'variables.scss';
@import "bootstrap/less/mixins/buttons.scss";

.dialog-3-col {
    padding:0;
  .flex {
    display:block;
    .relation-class-select {
      label {
        margin-top: 0;
      }
    }
    .relation-row {
      display:flex;
      > div {
        flex:1;
      }
    }
    .complement {
      display: flex;
      > div {
        flex: 1
      }
    }
    .col{
        padding:15px;
    }
    .flex-2{
        border-bottom: 1px solid #e5e5e5;
    }
    .datation-group {
      background: #eeeeee;
      .btn-action {
        @include button-variant(#000, #eeeeee, transparent);
      }
    }
  }
  @media screen and (min-width: $screen-md-min) {
    .flex {
      align-items: stretch;
      display: flex;
      .flex-1 {
        max-width: 250px;
      }
      .flex-2 {
        flex: 2;
        border-bottom: 0;
        border-right: 1px solid #e5e5e5;
      }
    }
  }
}
