@import "~variables.less";


@registry-panel-actions-height: 26px;

.registry-list {
    padding: 10px;
    background: @fa-file-tree-bg;
    border: 1px solid @fa-file-tree-border;
    border-top: none;
    height: 100%;

    .registry-list-results {
        height: 100%;

        .registry-nav {
            background: @fa-file-tree-bg-list;
            border: 1px solid @fa-file-tree-border;
            height: calc(~'100% - 80px');

            &>div:first-child {
                height: 100%;
                overflow-y: auto;
                overflow-x: hidden;
            }

            .search-result-row {
                padding: 2px 5px;

                div {
                    display: inline-block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .registry-list-icon-record,.registry-list-icon-list {
                    padding-left: 5px;
                    width: calc(~'100% - 15px');
                }
            }
            .search-result-row:hover {
                background-color: #EEEEEE;
            }

            .active {
                background:@fa-file-tree-active-bg;
            }

            .registry-list-count {
                padding: 5px;
            }
        }
    }
}

.registry-page {

    padding: 10px;
    .btn {
        border: none;
    }

    .registry-label {
        margin-bottom: 4px;
    }

    .registry-record-edit {
        font-size: 1em;
    }

    .registry-list-count{
        padding-top: 10px;
    }

    div.search-result-row div{
        display: inline-block;
    }

    .registry-list-icon-list:hover, .registry-list-icon-record:hover{
        cursor: pointer;
    }

    div.desc-item-type-label {
        .actions {
            background: #F5F5F5;
            height: @registry-panel-actions-height;
            display: inline-block;
            .btn {
                background: transparent;
                height: @registry-panel-actions-height;
                font-size: 12px;
                border: none;
                margin: 1px;
                padding: 2px;
            }
        }
        .actions {
            background: transparent;
        }
        div.title {
            display: inline-block;
        }
    }

    div.record-parent-info {
        padding-bottom: 10px;
        div.record-selected-name {
            width: 100%;
            div{
                display: inline-block;
                width: 80%;
            }
        }
        div.record-selected-breadcrumbs{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

