@import "~variables.less";


@registry-panel-actions-height: 26px;

.registry-page {

    .btn {
        border: none;
    }

    .registry-label {
        margin-bottom: 4px;
    }

    .registry-record-edit {
        font-size: 1em;
    }

    .registry-list-count{
        padding-top: 10px;
    }

    div.search-result-row div{
        display: inline-block;
    }

    .registry-list-icon-list:hover, .registry-list-icon-record:hover{
        cursor: pointer;
    }

    div.desc-item-type-label {
        .actions {
            background: #F5F5F5;
            height: @registry-panel-actions-height;
            display: inline-block;
            .btn {
                background: transparent;
                height: @registry-panel-actions-height;
                font-size: 12px;
                border: none;
                margin: 1px;
                padding: 2px;
            }
        }
        .actions {
            background: transparent;
        }
        div.title {
            display: inline-block;
        }
    }

    div.record-parent-info {
        padding-bottom: 10px;
        div.record-selected-name {
            width: 100%;
            div{
                display: inline-block;
                width: 80%;
            }
        }
        div.record-selected-breadcrumbs{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

