.window-root {
  > .page-header > .window-caption {
    //color: $color-app-alt;
    width: 100%;
    margin: 0;
    padding: 10px 20px;
    color:black;
    background-color: $color-gray1;
  }
  > .page-footer > .menu-bar {
    .v-menubar-menuitem-primary-right {
      background-color: $color-app-alt;
    }
    .v-menubar-menuitem-right {
      background-color: #404040;
    }
  }
}



.action-transparent {
  background: transparent;
  .v-menubar-menuitem {
    background: transparent;
  }
  .v-button {
    background: transparent;
  }
}

.v-Notification{
    background: #73B573;
}

.v-Notification.error{
  background: #CA5E58;
}

.v-Notification.warning{
  background: #F9A937;
}

.v-Notification.v-position-bottom{
    bottom: 50px;
}
.v-Notification.v-position-right{
    right: 50px;
}

.v-Notification h1, .v-Notification.warning h1, .v-Notification.error h1 {
    color: white;
}



