@import "../ax/ax";
@import "../valo/styles.scss";
@import "../ax/valo-fix";

body.v-generated-body {
    overflow-y: scroll;
    overflow-x: auto;
}

$color-app: #0095ba;
$color-app-alt: #012e58;
$color-gray1: #e7e7e7;
$color-gray2: #a2a2a2;
$color-title: #606262;
$v-focus-color: $color-app;
$ax-main-focus: $color-app;

.elza {

    @include ax;

    font-family: "Segoe UI", "Source Sans Pro", Arial, Helvetica, Tahoma, Verdana, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;

    @import "elza-layout";
    @import "elza-common";
    @import "elza-table";

    .history-window-detail {
        box-shadow: 0 0 10px 1px $color-app-alt;
        background-color: white;

        .main-panel {
            overflow-y: auto;
            overflow-x: hidden;
            max-height: 500px;
        }

        .version-header {
            display: table-row;

            > .v-csslayout {
                display: table-row;

                div:nth-child(1) {
                    width: 150px;
                }
                div:nth-child(2) {
                    width: 180px;
                }
                div:nth-child(3) {
                    width: 130px;
                    text-align: center;
                }
                div:nth-child(4) {
                    width: 130px;
                    text-align: center;
                }

            }

            .version-table-header {
                font-weight: bold;
            }
        }

        .history-box {
            width: 650px;
        }

    }

    .window-detail .form {
        display: block;
    }

    .v-formlayout .v-caption {
        min-width: 200px;
        color: gray;
    }

    .h2 {
        margin: 0;
        color: $color-title;
        font-weight: normal;
        font-size: 24px;
        margin-bottom: 10px;
    }



    .hidden{
        display: none;
    }
    
    .right{
        float: right;
    }

    .margin-top{
        margin-top: 10px;
    }



    .level-detail {
        width: 50%;
        padding-left: 15px;
        height: calc(100vh - 165px) !important;
        overflow-y: auto;

        .detail-content{
            width: 100%;

            >div{
                width: 100%;
            }
        }
    }

    .wrapper-item {
        display: block;

        .v-button {
            margin: 10px;
        }
    }

    .container-values {
        .v-csslayout {
            display: table-row;
        }

        .v-button {
            margin: 10px;
        }

        .sort-icon {
            margin-top: 10px;
            padding: 6px 5px 7px 5px;
            color: gray;
        }

        .sort-icon:hover {
            color: black;
        }

    }

    .attribut-value {

        .small-input {
            width: 100px;
        }

        .long-input {
            width: 400px;
        }

        textarea {
            width: 400px;
        }

        .attribut-spec {
            margin-right: 10px;
        }
    }

    .label-name {
        display: block;
    }

    .new-attribut-button {
        display: table;
    }

}

.v-overlay-container[aria-label="item-not-cut"] .v-menubar-menuitem-show-if-cut {
    display: none;
}



