@import "../ax/ax";
@import "../valo/styles.scss";
@import "../ax/valo-fix";

body.v-generated-body {
  overflow-y: scroll;
  overflow-x: auto;
}

$color-app: #0095ba;
$color-app-alt: #012e58;
$color-gray1: #e7e7e7;
$color-title: #606262;
$v-focus-color: $color-app;
$ax-main-focus: $color-app;

.elza {

  @include ax;

  font-family: "Segoe UI", "Source Sans Pro", Arial, Helvetica, Tahoma, Verdana, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;

  @import "elza-layout";
  @import "elza-common";
  @import "elza-table";

  .window-detail {
    box-shadow: 0 0 10px 1px $color-app-alt;
    background-color: white;
  }

  .window-detail .form {
    display: block;
  }

  .v-formlayout .v-caption {
    min-width: 200px;
    color: gray;
  }

  .h2 {
    margin: 0;
    color: $color-title;
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 10px;
  }

}

.v-overlay-container[aria-label="item-not-cut"] .v-menubar-menuitem-show-if-cut{
    display: none;
}



