@import "/variables.less";
@levelIndent : 25px;
@maxLevel: 30;


.dropDownTree .dropdown-menu{
    overflow-y: scroll;
    max-height:200px;

    .mixin-loop (@i) when (@i > 0) {
      .depth@{i} a{
        padding-left: (@i*@levelIndent);
      }
      .mixin-loop(@i - 1);
    }
    .mixin-loop(@maxLevel);

    button{
        padding:0px;
        width:14px;
        height:14px;
        line-height:12px;
        text-align:center;
        position:absolute;
        margin-left:-19px;
        margin-top:3px;
    }
}
