@import "/variables.less";

.logs-detail {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    h4 {
        font-weight: bold;
        margin-bottom: 1px;
    }
    span {
        display: block;
    }
}

.logs {
    height: 800px;
    width: 100%;
    display: flex;
    margin-top: 5px;
    padding-right: 5px;
}

.log-controll-buttons{
    margin-top: 5px;
}
