.bundle-containter{
    display: flex;
    flex-direction: row;

    .bundle-type {
        font-weight: bold;
        width: 10%;
        padding: 0 15px;
    }

    .bundle-description{
        display: flex;
        flex-direction: row;
        width: 55%;
        padding: 0 15px;

        .bundle-stat{
            display: flex;
            flex-direction: column;
            margin: 0 15px;
        }
    }

    .bundle-threads {
        width: 40%;
        padding: 0 15px;
    }
}
