.advanced-rights-container {
    background-color: white;
    border: 1px solid #ddd;

    .admin-rights-content {
        .admin-rights-right {
            display: flex;
            flex-direction: row;

            .permission-checkbox-form {
                overflow-y: auto;
                //width: 50%;
            }
        }
    }
}
