.permission-checkbox-form {
    padding: 10px;
    height: 100%;
    width: 100%;
    overflow-y: auto;

    .item-row{
        margin-bottom: 5px;

        .icon {
            padding: 5px;
            margin-right: 5px;
        }
        label{
            margin:0;
        }
    }
}

.permission-checkbox-form-tooltip {
    text-align: left;
}
