@movementsActionsSize: 148px;
@movementsActionsSize-half: @movementsActionsSize / 2;

.movements-content-container {
    height: 100%;

    padding: 5px 4px;

    display: flex;
    width: 100%;
    border-left: none;
    .tree-left-container, .tree-right-container {
        width: calc(~"50% - "@movementsActionsSize-half);
        height: 100%;
    }
    .tree-actions-container {
        width: @movementsActionsSize;
        text-align: center;
        .btn {
            width: 10em;
            height: 2em;
            display: block;
            margin: 0 auto;
            position: relative;
            margin-bottom: 10px;
            span:first-child {
                padding-right: 5px;
            }
        }
    }
    .tree-left-container {
    }
    .tree-right-container {
    }
}