//@import "~bootstrap/less/bootstrap.less";
@import "~variables.less";

html, body {
    height:100%;
    overflow: hidden;
}

#content {
    height:100%;
}

.root-container {
    height: 100%;
}

.game-placeholder {
    position: absolute;
    width: 8px;
    height: 1px;
    left: 0;
    top: 0;
    display: inline-block;
    z-index: 5000;
    cursor: pointer;
    &.canStart:hover {
        background: green;
    }
    &:hover {
        background: silver;
    }
}
