//@import "~bootstrap/less/bootstrap.less";
@import "~variables.less";

html, body {
    height:100%;
    overflow: hidden;
}

#content {
    height:100%;
}

.root-container {
    height:100%;
    &.with-version{
        height: calc(~"100% - 15px");
    }
}
.version-container{
    height:15px;
    text-align: right;
    line-height: 15px;
    padding-right:5px;
    background-color: #333;
    color:white;
    font-size: 10px;
}

.game-placeholder {
    position: absolute;
    width: 8px;
    height: 1px;
    left: 0;
    top: 0;
    display: inline-block;
    z-index: 5000;
    cursor: pointer;
    &.canStart:hover {
        background: green;
    }
    &:hover {
        background: silver;
    }
}
