.detail-multi-selection {
    .detail-section-header {
        //background-color: #E7E7E7;
        font-size: 1.4em;
        padding:5px 10px;
        border-top: 1px solid #ccc;
    }

    .icon {
        &.disabled {
            color: #A7A7A7;
        }
    }
    .parts {
        padding: 10px;

        /* v2 */
        /*
        display: flex;
        flex-wrap: wrap;
        */
        /* ---- */

        .part {
            //border-left: 2px solid #ccc;
            padding: 2px 10px;
            margin: 10px;
            position: relative;
            box-sizing: border-box;

            .bracket {
                position: absolute;
                border: 1px solid #aaa;
                border-width: 0 0 1px 1px;
                height: 100%;
                width: 10px;
                left: 0;
                top: 0;
            }

            &.preferred {
                .bracket {
                    border-width: 0 0 1px 3px;
                    border-color: #333;
                }
            }

            .related-parts {
                padding: 10px;
                padding-top: 5px;
            }
        }

        .no-info-msg {
            display: inline-block;
        }

        &.single-part {
            padding: 0;
            .no-info-msg {
                padding: 10px;
            }
            .part{
                border: none;
            }
        }
    }
}
