@font-face {
  font-family: 'Elza-iconset';
  src:  url('fonts/Elza-iconset.eot?c4l86t');
  src:  url('fonts/Elza-iconset.eot?c4l86t#iefix') format('embedded-opentype'),
    url('fonts/Elza-iconset.ttf?c4l86t') format('truetype'),
    url('fonts/Elza-iconset.woff?c4l86t') format('woff'),
    url('fonts/Elza-iconset.svg?c4l86t#Elza-iconset') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ez {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Elza-iconset' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ez-move-after2:before {
  content: "\e902";
}
.ez-move-before:before {
  content: "\e900";
}
.ez-move-after:before {
  content: "\e901";
}
.ez-move-before2:before {
  content: "\e903";
}
.ez-move-under:before {
  content: "\e9003";
}
.ez-item-part-o:before {
  content: "\a9002";
}
.ez-collapse-all:before {
  content: "\a9001";
}
.ez-serie:before {
  content: "\a9000";
}

