@import "~variables.less";

.partyDetail {
    padding: 10px;

    h1 {
        font-size: 2em;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    label {
        font-weight: normal;
    }

    .form-group, .line {
        margin-bottom: 10px;
    }
}

.party-list {
    padding: 10px;
    background: @fa-file-tree-bg;
    border: 1px solid @fa-file-tree-border;
    border-top: none;
    height: 100%;

    .partySearch {
        background: @fa-file-tree-bg-list;
        border: 1px solid @fa-file-tree-border;
        height: calc(~'100% - 30px');
        overflow-y: auto;
        overflow-x: hidden;
    }
}