@import "../../variables.scss";
/**
 * Styly pro editaci rejstrikoveho hesla
*/
.registry-detail {
    padding-left: 1px;

    .registry-header {
        display: flex;
        border-bottom: 1px #ddd solid;

        .header-icon {
            display: flex;
            flex-direction: column;
            width: 5.5em;
            min-height: 5.5em;
            //max-width: 8em;
            //padding: 0.5em 0.5em;
            padding: 10px;
            border-right: 1px solid #ddd;
            white-space: pre-wrap;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .icon {
                font-size: 3em;
            }

            .btnText {
                padding-top: 5px;
                max-width: 100%;
                line-height: 1.1em;
                font-size: 0.9em;
                text-align: center;
            }
        }

        .header-content {
            padding: 10px;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;

            & > div {
                //padding: 5px;
                display: flex;
                margin-bottom: 2px;
                //flex-grow: 1;
                &:last-child {
                    margin-bottom: 0;
                }

                > * {
                    display: block;

                    &:last-child {
                        text-align: right;
                    }

                    &:first-child {
                        flex-grow: 1;
                        text-align: left;
                    }
                }

                .title {
                    font-size: 1.5em;
                }
            }
        }

        .btn {
            font-size: 1.5em;
        }

    }
    .invalid {
        color: #999999;
    }

    .registry-type {
        width: 100%;
        padding: 5px 10px;
        background-color: #333;
        color: #bbb;
        line-height: 1.5em;
        display: flex;

        .hierarchy-delimiter{
            margin: 0 10px;
        }
        .hierarchy-level {

			&.main{
				color:white;
			}
		}
        .right-part {
            padding-left: 10px;
            flex-grow: 1;
            text-align: right;
            cursor: help;
        }
        .scope-label {
            padding-left: 10px;
        }
        .state-approval-label {
            padding-left: 10px;
        }
    }

    .reg-coordinates-labels {
        max-width: 50%;
        display: flex;

        label {
            flex-grow: 1;
            width: 50%;
        }
    }

    .variant-name {
        .desc-item-value-container {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            max-width: 100%;

            span {
                flex-grow: 1;
            }
        }
    }

    .panel-group {
        margin-bottom: 0;

        &.open {
            .panel {
                .panel-heading {
                    background: #C0C0C0;

                    .panel-title {
                        font-weight: bold;

                        &:hover {
                            background-color: #ddd;
                        }
                    }
                }
            }
        }

        .panel {
            border: none;
            border-bottom: 1px solid #f8f8f8;
            box-shadow: none;

            .panel-heading {
                border: none;
                padding: 0;
                cursor: pointer;
                background-color: #E7E7E7;

                .panel-title {
                    font-size: 1em;
                    line-height: 2em;

                    a,
                    a:focus,
                    a:hover,
                    a:visited {
                        padding: 5px 5px 5px 10px;
                        display: block;
                        width: 100%;
                        text-decoration: none;
                        border-color: transparent !important;
                        outline-color: transparent !important;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                    }

                    &:hover, &:focus{
                        text-decoration: none;
                        background-color: #f0f0f0;

                        .hover-button {
                            visibility: visible;
                        }
                    }

                    .hover-button {
                        visibility: hidden;
                    }

                    .pinned {
                        .icon {
                            transform: rotate(45deg);
                        }
                    }
                }
            }
            .panel-body {
                .group-label {
                    line-height: 2em;
                    margin: 0 5px 0 0;
                    vertical-align: middle;
                }

                .form-group label,
                label {
                    font-weight: normal;
                }

                .value-group {
                    display: flex;
                    align-items: center;
                    padding-left: 10px;

                    label {
                        margin: 0;
                        font-weight: bold;
                    }

                    .value {
                        flex: 1;
                    }

                    .actions {
                        height: 100%;

                        .btn-action {
                            height: 100%;
                        }
                    }

                    &.relation-group {
                        //border: 2px solid #eee;
                        padding: 10px;
                        align-items: flex-start;

                        .actions {
                            height: 2em;
                        }
                    }
                }

                .elements-container {
                    [class*="el-"] {
                        padding: 5px 0 7px;
                    }
                }
            }
        }
    }

    .error-message {
        //background-color:red;
        padding: 5px;
        text-align: left;

        .error-list {
            ul {
                margin-bottom:0;
                padding-left: 15px;
            }
        }
        .error-item {
            margin-bottom: 5px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .panel-body {

        padding: 0;

        .cp-15 {
            margin: 0 15px 0 15px;
        }

        .form-standard-actions {
            .btn {
                padding: 2px;
                border: none;
                margin: 0;
                background: transparent;
                height: 2em;
                font-size: 0.9em;
                .icon  {
                    color: $node-form-actions-color;
                    height: 1.35em;
                    line-height: 1.35em;
                    width: 1.35em;
                    vertical-align: middle;
                }
            }
            .btn:hover {
                background-color: $node-form-actions-hover;
            }
        }

        .form-actions-container {
            width: 100%;
            background: $node-form-actions-bg;
            height: 1.8em;
            position: relative;

            .form-actions {
                width: 100%;
                white-space: nowrap;
                padding-right: 40px;
                .section {
                    > span:first-of-type {
                        padding-left: 3px;
                    }

                    display:inline-block;
                    border-right: 1px $node-form-actions-hover solid;

                    &:last-of-type {
                        border-right: none;
                    }

                    > .btn {
                        margin-right: 8px;
                    }

                    @include form-standard-actions;
                    .btn {
                        &.dropdown-toggle {
                            padding: 0 3px 0 3px;
                            /*margin-left: -8px;*/
                        }
                    }
                    .btn-group {
                        > .btn:first-of-type {
                            margin-right: 8px;
                        }
                    }
                }
            }
        }

    }
}
