.fund-detail-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    .fund-detail-tree {
        width: 100%;
        height: 70%;
        padding: 10px;
    }
    
    .fund-detail-info {
        width: 100%;
        height: 30%;
        padding: 10px;
    }
}
