@import "../../../variables.scss";

.node-settings-form {
    .modal-body {
        padding: 0 15px 0 0;

        .menu {
            padding-right: 0;
        }

        .view {
            padding: 0 15px;
            border-left: 1px solid $node-panel-border;

            .listbox-container {
                padding: 5px;
                .checkbox {
                    margin-left: 10px;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }
    }

    .nav-pills {
        & .nav-item {
            width: 100%;

            a {
                color: $fg-color;
                padding: 3px 5px;

                &.active {
                    background: $shade-5;
                }
            }
        }
    }
}
