.detail-part {
    //padding: 10px;
    &:hover {
        .actions.hidable {
            width: auto;
        }
    }
    .actions {
        display: flex;
        align-items: center;
        margin-left: 5px;
        margin-right: 5px;
        overflow: hidden;
        flex-shrink: 0;

        &.hidable {
            width: 0px;
        }

        .info-icon {
            margin: 2px;
            padding: 3px;
        }
    }
    .detail-part-header {
        font-size: 14px;
        // font-weight: bold;
        // margin-bottom: 5px;

        .detail-part-label {
            cursor: pointer;
            /* margin-right: 5px; */
            display: flex;
            align-items: center;

            .sync-wrapper {
                margin-left: 5px;
            }

            &:hover {
                color: #317E9F;
            }
        }

        &.detail-part-preferred {
            font-weight: bold;

            .detail-part-label-alt {
                font-weight: normal;
                font-style: italic;
            }
        }
    }
    .detail-part-expanded {
        //border-left: 1px solid #ccc;
        padding: 7px 17px;
        background-color: #eee;
        margin: 10px;
        margin-top: 5px;
        display: inline-block;
        border: 1px solid #ccc;

    }
    /* .opened { */
    /*     color: #1A5EBB; */
    /* } */
}
