@import '../../../variables.scss';

.stats-flex-container {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.stats-box {
    display: inline-flex;
    padding: 15px;
    background-color: $shade-1;
    border-radius: 5px;
    flex-wrap: wrap;

    & > div {
        margin: 8px;
        line-height: 1em;
        flex-grow: 1;

        & > span {
            font-weight: bold;
        }
    }
}

.stats-user-box {
    display: inline-flex;
    margin: 10px;

    .background-box {
        background-color: $shade-1;
        border-radius: 5px;
        display: inline-flex;
        flex-direction: column;
    }
}

.stats-box {
    .users {
        background-color: $shade-4;
        border-radius: 5px;
        max-height: 250px;
        overflow: auto;

        & > div {
            margin: 8px;
            line-height: 1em;
        }
    }
}

