@import "~variables.less";

    .autocomplete-party {

        @party-item-padding: 5px;

        .item {
            display: table-row;

            .name {
                padding: @party-item-padding;
                display: table-cell;
            }

            .type {
                padding: @party-item-padding;
                display: table-cell;;
            }

            .interval {
                padding: @party-item-padding;
                display: table-cell;
            }

            .characteristics {
                padding: @party-item-padding;
                max-width: 300px;
                text-overflow: ellipsis;
                display: table-cell;
                overflow: hidden;
            }
        }

        .autocomplete-menu-footer {

            .create-party {
                position: fixed;
                padding: 5px;
                .create-party-label {
                    margin-left: 3px;
                }
            }
        }

    }


