@import "~variables.less";

.line{
    display: flex; 
    flex-direction: row;
    
    .form-group, 
    .column{
        flex-grow: 2;
        flex-shrink: 0;
        margin-left:10px;
        
        &.ico{
            text-align:right;
        }
    }
    .form-group:first-child{
        margin-left: 0px;
    }
    .column:first-child{
        margin-left: 0px;
    }
}

.block{
    &.entity{
        border:1px solid #cccccc;
        padding:6px;
        border-radius: px;
        background-color:#eeeeee;
        margin-bottom:7px;
    }
}

.errors{
    padding:0px;
    margin:0px;
    list-style-type:none;
    color:#FF0000;
    font-weight:bold;
    li{
        padding:0px;
        margin:0px;
    }
}