@import "~variables.less";

.relations {
    .relation-entity {
        background: @fa-file-tree-bg-list;
        border: 1px solid @fa-file-tree-border;
        padding: 5px;

        .block-row{
            padding: 5px 0;
            width: 100%;
            &.title {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .btn {
                border: none;
            }
        }
    }

    .relation-entity:not(:first-child){
        margin-top: 10px;
    }

}
