@import "~variables.less";

.relations {
    .relation-entity {
        background: @fa-file-tree-bg-list;
        border: 1px solid @fa-file-tree-border;
        padding: 5px;

        .block-row{
            padding: 5px 0;
            width: 100%;
            &.title {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .btn {
                border: none;
            }
        }
    }

    .relation-entity:not(:first-child){
        margin-top: 10px;
    }
}


.relations-edit{

    table.relation-entities{
        width: 100%;

        td {
            padding-top: 5px;
            padding-right: 5px;
        }

        td.type-col{
            width: 150px;
        }

        td.icon-col{
            width: 20px;
        }
    }
}
