@import "/variables.less";
.party-detail-wrapper {
    height: 100%;
}

.party-detail {
    height: 100%;
    display: flex;
    flex-direction: column;
    //padding: 2px;
    padding-left: 1px;

    .party-header {
        display:flex;
        border-bottom: 1px #ddd solid;

        .header-icon{

            display:flex;
            flex-direction: column;
            width:5.5em;
            min-height: 5.5em;
            //max-width: 8em;
            //padding: 0.5em 0.5em;
            padding: 10px;
            border-right: 1px solid #ddd;
            white-space: pre-wrap;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .icon {
                font-size: 3em;

            }
            .btnText{
                padding-top: 5px;
                max-width: 100%;
                line-height: 1.1em;
                font-size: 0.9em;
                text-align: center;
            }
        }
        .header-content {
            padding: 10px;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;

            & > div{
            //padding: 5px;

                display: flex;
                margin-bottom: 2px;
                //flex-grow: 1;

                &:last-child {
                    margin-bottom: 0;
                }

                > * {
                    display: block;

                    &:last-child {
                        text-align: right;
                    }

                    &:first-child {
                        flex-grow: 1;
                        text-align: left;
                    }
                }

                .title {
                    font-size: 1.5em;
                }
            }
        }
    }

    .invalid {
        color: #999999;
    }

    .party-type{
          width: 100%;
          padding:5px;
          padding-left: 10px;
          background-color: #333;
          color: white;
          line-height: 1.5em;
        .right-part {
            float: right;
            padding-left: 10px;
            flex-grow: 1;
            text-align: right;
            cursor: help;
        }
        .scope-label {
            padding-left: 10px;
        }
        .state-approval-label {
            padding-left: 10px;
        }
    }

    .party-body {
        flex: 1;
        overflow: auto;
        padding: 0;
        background-color: #f8f8f8;

        .panel-group {
            margin-bottom: 0;

            &.open {
                .panel {
                    .panel-heading {
                        background: #C0C0C0;

                        .panel-title {
                            font-weight: bold;

                            &:hover {
                                background-color: #ddd;
                            }
                        }
                    }
                }
            }

            .panel {
                border: none;
                border-bottom: 1px solid #f8f8f8;
                box-shadow: none;

                .panel-heading {
                    border: none;
                    padding: 0;
                    cursor: pointer;
                    background-color: #E7E7E7;

                    .panel-title {
                        font-size: 1em;
                        line-height: 2em;

                        a,
                        a:focus,
                        a:hover,
                        a:visited {
                            padding: 5px 5px 5px 10px;
                            display: block;
                            width: 100%;
                            text-decoration: none;
                            border-color: transparent !important;
                            outline-color: transparent !important;
                            -webkit-box-shadow: none;
                            box-shadow: none;
                        }

                        &:hover, &:focus{
                            text-decoration: none;
                            background-color: #f0f0f0;

                            .hover-button {
                                visibility: visible;
                            }
                        }

                        .hover-button {
                            visibility: hidden;
                        }

                        .pinned {
                            .icon {
                                transform: rotate(45deg);
                            }
                        }
                    }
                }

                .panel-body {
                    .group-label {
                        line-height: 2em;
                        margin: 0 5px 0 0;
                        vertical-align: middle;
                    }

                    .form-group label,
                    label {
                        font-weight: normal;
                    }

                    .value-group {
                        display: flex;
                        align-items: center;
                        padding-left: 10px;

                        label {
                            margin: 0;
                            font-weight: bold;
                        }

                        .value {
                            flex: 1;
                        }

                        .actions {
                            height: 100%;

                            .btn-action {
                                height: 100%;
                            }
                        }

                        .desc-item-value {
                            width: 100%;
                        }

                        &.relation-group {
                            //border: 2px solid #eee;
                            padding: 10px;
                            align-items: flex-start;

                            .actions {
                                height: 2em;
                            }
                        }
                    }

                    .elements-container {
                        [class*="el-"] {
                            padding: 5px 0 7px;
                        }
                    }
                }

                .btn-action {
                    padding: 0;
                    border: none;
                    margin: 0;
                    background: transparent;
                    height: 2em;
                    width: 2em;
                    font-size: 1em;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    color: inherit;

                    .icon {
                        color: inherit;
                        transition: transform 100ms ease-in-out;
                        vertical-align: middle;
                    }

                    &:hover {
                        background-color: #6fa8dc;
                        color: white;
                    }

                    &.delete:hover {
                        background-color: #d25959;
                        color: white;
                    }
                }
            }
        }
    }
}
