@import "/variables.less";

.autocomplete-party {

    @party-item-padding: 5px;

    .autocomplete-menu-footer {

        .create-party {
            position: fixed;
            padding: 5px;
            .create-party-label {
                margin-left: 3px;
            }
        }

        .items-count {
            text-align: right;
            vertical-align: middle;
            line-height: 27px;
            padding: 5px;
        }
    }

}


