@import "~variables.less";
.party-detail {
    height:100%;
    display:flex;
    flex-direction: column;
    .party-header {
        display: flex;
        padding: 5px;
        border-bottom: 1px #eee solid;

        > div {


            &:first-of-type {
                flex:1;
            }
            &:last-of-type {
                text-align: right;
            }

            h3 {
                margin-top: 0;
                margin-bottom: 5px;
            }
        }
    }

    .party-body {
        flex:1;
        overflow: auto;
        .panel-group {
            margin-bottom: 0;
            .panel-title {
                &:hover {
                    .hover-button {
                        visibility: visible;
                    }
                }
                .hover-button {
                    visibility: hidden;
                }
            }
            .panel-body {
                .value-group {
                    display: flex;
                    .form-control-static {
                        flex:1
                    }
                }
                .elements-container {
                    [class*="el-"] {
                        padding: 5px 5px 7px 5px;
                    }
                }
            }

            .btn {
                padding: 2px;
                border: none;
                margin: 0;
                background: transparent;
                height: 2em;
                font-size: 0.9em;
                .icon {
                    color: @node-form-actions-color;
                    height: 1.35em;
                    line-height: 1.35em;
                    width: 1.35em;
                    vertical-align: middle;
                }
            }
        }
    }
}