@import "~variables.less";

.party-detail {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2px;
  .party-header {
    display: flex;
    padding: 5px;
    border-bottom: 1px #eee solid;

    > div {

      &:first-of-type {
        flex: 1;
      }
      &:last-of-type {
        text-align: right;
      }

      h3 {
        margin-top: 0;
        margin-bottom: 5px;
      }
    }
  }

  .party-body {
    flex: 1;
    overflow: auto;
    padding: 1px;
    .panel-group {
      margin-bottom: 0;
      &.open {
        .panel {
          .panel-heading {
            background: #ccc;
            .panel-title {
              font-weight: bold;
            }
          }
        }
      }
      .panel {
        border: none;
        border-bottom: 1px solid #ffffff;
        .panel-heading {
          border: none;
          padding: 1px;
          cursor: pointer;

          .panel-title {
            font-size: 1em;
            line-height: 2em;
            a, a:hover, a:visited, a:focus {
              padding: 5px 10px;
                padding-right: 5px;
              display: block;
              width: 100%;
              text-decoration: none;
              border-color: transparent !important;
              outline-color: transparent !important;
              -webkit-box-shadow: none;
              box-shadow: none;

            }
            &:hover {
              text-decoration: none;
              .hover-button {
                visibility: visible;
              }
            }
            .hover-button {
              visibility: hidden;
            }
            .pinned{
                .icon{
                    transform:rotate(45deg);
                }
            }
          }
        }
        .panel-body {
             .group-label{
                 line-height: 2em;
                 margin:0;
                 margin-right: 5px;
                 vertical-align: middle;
             }

          label, .form-group label {
            font-weight: normal;
          }
          .value-group {
            display: flex;
            align-items: center;
            padding-left: 10px;
            label {
              margin: 0;
              font-weight: bold;
            }
            .value {
              flex: 1
            }
            .actions{
                height: 100%;

                .btn-action{
                    height: 100%;
                }
            }
            &.relation-group {
              //border: 2px solid #eee;
              padding: 10px;
              align-items: flex-start;
              .actions{
                  height: 2em;
              }
            }

          }
          .elements-container {
            [class*="el-"] {
              padding: 5px 0px 7px 0px;
            }
          }
        }

        .btn-action {
          padding: 0px;
          border: none;
          margin: 0;
          background: transparent;
          height: 2em;
          width:2em;
          font-size: 1em;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          color:inherit;
          .icon {
            color: inherit;
            transition: transform 100ms ease-in-out;
            vertical-align: middle;
          }
          &:hover{
              background-color: #6fa8dc;
              color:white;


          }
          &.delete:hover{
              background-color: #d25959;
              color:white;
          }
        }
      }
    }
  }
}
