.party-identifier-form {
    hr {
        margin-bottom: 5px;
    }
    .datations {
        display: flex;
        > div {
            flex:1;
            .datation {
                display: flex;
                > div:last-of-type {
                    flex:1;
                }
            }
        }
    }
}