@import "~variables.less";

.relations {
    padding: 10px;
    background: @fa-file-tree-bg;
    border: 1px solid @fa-file-tree-border;
    border-top: none;
    height: 100%;

    .relation-entity {
        background: @fa-file-tree-bg-list;
        border: 1px solid @fa-file-tree-border;
    }
}
