@import "~variables.less";

.partySearch {
    padding:0px;
    margin:10px 0 0 0;
    border-top:1px solid #AAAAAA;
    li{
        padding:5px 8px;
        list-style-type: none;
        border-bottom:1px solid #AAAAAA;
        cursor:pointer;
        &:hover{
            background-color:#EEEEEE;
            color:#000000;
        }
        span{
            font-size:80%;
            display:block;
        }
        .name {
            font-size:100%;
        }
    }
}