@import "../../../variables.scss";

.link-value {

    $link-value: 5px;
    $max-width-container: 600px;

    .item {
        &.active {
            font-weight: bold;
        }
        &.focus {
            background: #afafaf;
        }

        .name {
            padding: $link-value;
            display: table-cell;
        }

        .type {
            padding: $link-value;
            display: table-cell;;
        }

        .interval {
            padding: $link-value;
            display: table-cell;
        }

        .characteristics {
            padding: $link-value;
            max-width: 300px;
            text-overflow: ellipsis;
            display: table-cell;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    .autocomplete-menu-footer {

        .create-record {
            position: fixed;
            padding: 5px;
            .btn {
                background-color: #fff;
                border: 1px solid #ccc;
                padding: 0 5px;
                .icon {
                    padding-right: 3px;
                }
                &:hover {
                    background-color: #e6e6e6;
                }
            }
        }
    }

}
