@import "../../../../variables.scss";

.explorer-table {
    overflow: auto;

    .header {
       background-color: #b3b3b3ff;
       padding: 5px;
    }

    .table-row:nth-child(even){
       background-color: $shade-1;
    }
}