@import "../../variables.scss";

.history-list-container {
    padding: 10px;
    display:flex;
    height:100%;
    overflow:auto;
    flex-grow: 1;

    h4{
        font-size: 1.2rem;
        margin-left: 10px;
        color:$fg-color;
        font-weight: bold;
    }
    .button-container{
        .section{
            margin-bottom:1em;
            display:block;

            .history-list-item {
                display: inline-flex;
                flex-direction: column;
                height: 13em;
                width: 13em;
                align-items: center;
                justify-content: center;
                margin: 0.2em;
                padding: 15px;
                background-color: $homepage-button-bg;
                border: none;
                overflow:hidden;
                vertical-align:middle;

                .history-name {
                    white-space: normal;
                    line-height: 1.3em;
                    overflow: hidden;
                    max-width: 100%;
                    font-weight: bold;
                    padding: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-grow: 1;
                    flex-shrink: 1;
                }

                .icon {
                    font-size: 1em;
                }

                .background-text-container {
                    height: 100%;
                    width: 100%;
                    font-size: 6.5em;
                    z-index:0;
                    opacity: 0.065;
                    padding: 0 5px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 0 0 5px 0;
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    font-family: serif;
                    line-height: 0.7em;
                    flex-direction: column;
                }

                .background-text {
                    white-space: normal;
                    width: 200%;
                    text-align: left;
                }

                .fund-content {
                    z-index: 2;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    width: 100%;
                }

                .desc-container {
                    transition: background 200ms ease-out;
                    width: 100%;
                    padding: 5px;
                    padding-top: 0;
                    line-height: 1.2em;
                    font-size: 0.8em;
                    flex-grow: 0;
                    line-clamp: 6;
                }

                .fund-desc-container {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                }

                .fund-desc-item {
                    margin-bottom: 3px;

                    &.version {
                        margin-bottom: 0;
                    }
                }

                .fund-label {
                    line-height: 1.1em;
                    padding: 5px;
                    background: $contrast-color;
                    color: $contrast-color-fg;
                    font-size: 0.8em;
                    font-weight: bold;
                }
            }
            .history-button {
                transition: background 200ms ease-out;
                position: relative;
                border-radius: 5px;
                padding: 0;

                &:hover, &:focus {
                    color: $fg-color;
                    background-color: $homepage-button-bg-hover;
                }
            }
            .no-history{
                width:auto;
                padding: 20px 50px;
                width: 39.8em;
                background-color: $homepage-static-bg;
                color:$homepage-empty-list-msg-col;
            }
            .link{
                width:8em;
                
                .big-icon {
                    font-size: 2.5em;
                    padding: 20px;
                }

                .history-name {
                    align-items: flex-start;
                    padding: 20px;
                }
            }
        }
    }
}

.stats-container {
    flex-shrink: 0;
}

.splitter-home {
    height: 100%;
    display: flex;
    flex-direction: column;
    .Resizer {
        background: $contrast-color;
        opacity: .2;
        z-index: 1;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -moz-background-clip: padding;
        -webkit-background-clip: padding;
        background-clip: padding-box;
    }

    .Resizer:hover {
        -webkit-transition: all 2s ease;
        transition: all 2s ease;
    }

    .Resizer.horizontal {
        height: 11px;
        margin: -5px 0;
        border-top: 5px solid rgba(255, 255, 255, 0);
        border-bottom: 5px solid rgba(255, 255, 255, 0);
        cursor: row-resize;
        width: 100%;
    }

    .Resizer.horizontal:hover {
        border-top: 5px solid rgba(0, 0, 0, 0.5);
        border-bottom: 5px solid rgba(0, 0, 0, 0.5);
    }

    .Resizer.vertical {
        width: 11px;
        margin: 0 -5px;
        border-left: 5px solid rgba(255, 255, 255, 0);
        border-right: 5px solid rgba(255, 255, 255, 0);
        cursor: col-resize;
        height: 100%;
    }

    .Resizer.vertical:hover {
        border-left: 5px solid rgba(0, 0, 0, 0.5);
        border-right: 5px solid rgba(0, 0, 0, 0.5);
    }
}

.autocomplete-registry {
    .autocomplete-menu-header {
        .c1 {
            width: 50px;
            display: inline-block;
        }
        .c2 {
            width: 200px;
            display: inline-block;
        }
    }
    .autocomplete-menu {
        .c1 {
            width: 50px;
            display: inline-block;
        }
        .c2 {
            width: 200px;
            display: inline-block;
        }
    }
}
