@import "../../../variables.scss";

$registry-panel-actions-height: 26px;
$item-focus-bg: #eee;
$action-hover-bg: #ccc;

.file-listbox-container {
    //padding: 5px;
    background: $fa-file-tree-bg;
    //border: 1px solid $fa-file-tree-border;
    //border-top: none;
    height: 100%;
    display: flex;
    flex-direction: column;

    .list-container {
        flex-grow: 1;
        overflow: hidden;
        overflow-y: auto;
        height: 100%;
        background: $fa-file-tree-bg-list;
        display: flex;
        flex-direction: column;

        //border: 1px solid transparent;

        .listbox-item{
            &:hover {
                background-color: transparent;
            }
            &.active {
                background-color: $item-focus-bg;

                &:hover {
                    background-color: $item-focus-bg;
                }
            }

            .search-result-row {
                padding: 5px;
                display: flex;

                .details {
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    flex-grow: 1;

                    .header {
                        display: flex;

                        .title {
                            text-overflow: ellipsis;
                            padding-left: 5px;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                    }

                    .path {
                        font-size: 0.8em;
                        color: $color-link;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
                .actions {
                    display: none;
                    flex-shrink: 0;
                    .icon {
                        padding: 5px;
                        align-self: center;
                        cursor: pointer;

                        &:hover {
                            background-color: $action-hover-bg;
                        }
                    }
                }
                &:hover {
                    background-color: transparent;
                    .actions {
                        display: flex;
                    }
                }
            }
        }
    }
}
