@import "../../../variables.scss";
.listbox-wrapper {
    border: 1px solid #DDDDDD;
    background-color: white;
    display:block;
    height:100px;
    flex-grow:1;

    .listbox-container {
        display: block;
        overflow: auto;
        height:100%;
        .listbox-item {
            cursor: default;
            .node {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;

                span {
                    flex-shrink: 0;

                }
                .node-icon {
                    line-height: 1.4em;
                    width: 1em;
                }
                .reference-mark {
                    line-height: 2.2em;
                    padding: 0 3px;
                }
                .name {
                    flex-shrink: 1;
                    position:  relative;
                    width: 100%;
                    span {
                        position: absolute;
                        width: 100%;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }
            &:hover {
                background: $tree-node-label-active-bg
            }
            &.active {
                background: $tree-node-active-bg;
                &:hover {
                    background: $tree-node-active-hover-bg;
                }
            }
        }
    }
}
