@import "~variables.less";

.search-container {
    display: block;
    margin:0 10px 0 10px;
    
    .form-group{
        margin-bottom: 0px;
    }

    div.search-input,
    div.search-button,
    div.search-after-input {
        display: inline-block;
        width: 100%;
    }
    div.search-input input{
      width: calc(~"100% - 20px");
    }
    div.search-input div{
      display: inline-block
    }

    div.search-after-input div.dropDownTree button{
      width: 100%;
    }

}