@import "../../variables.scss";

.admin-requestsQueue-page {
    .table {
        --bs-table-bg: transparent;
        --bs-table-color: #{$fg-color};
        --bs-table-border-color: #{$border-color};
        --bs-table-striped-bg: #{$shade-1};
        --bs-table-striped-color: #{$fg-color};
        --bs-table-hover-bg: #{$shade-2};
        --bs-table-hover-color: #{$fg-color};
    }
}
