# Připojení k aplikaci ELZA
elza.base.url=http://localhost:8888/
elza.base.username=admin
elza.base.password=admin
elza.repositoryCode=dspace

# Pracovní adresář pro import
elza.daoimport.dir=c:/dspace/tmp/daoimport

# e-mail osoby založené v DSpace pod kterou se import spustí
elza.daoimport.email=admin@marbes.cz

# cesta k souboru se vzory typů souborů, pokud nebude nastaven nelze určit MimeType importovaných souborů
elza.droid.signatureFile=/DROID_SignatureFile_V95.xml

# Seznam MimeType souborů které lze importovat. Pokud je seznam prázdný importují se všechny soubory. Je možné uvést více hodnot oddělených mezerami.
# Příklad: elza.daoimport.supportedMimeTypes=image/jpg image/jpeg
elza.daoimport.supportedMimeTypes=image/jpg image/jpeg image/tif

# Seznam MimeType souborů které se mají před importem konvertovat
# Příklad: elza.daoimport.convert.supportedMimeTypes=image/tif image/tiff
elza.daoimport.convert.supportedMimeTypes=

# Příkaz pro konverzi. Bude se volat zvolená systémová aplikace s parametry. Za {input} se dosadí převáděný soubor a za {output} cesta k výslednému souboru
# Příklad: elza.daoimport.convert.command=magick convert {input} {output} # Předpokládá použití aplikace ImageMagick
elza.daoimport.convert.command= “conv” {input} {output}

# MimeType souboru po konverzi. Nastavení je povinné pokud má docházet ke konverzi
# Příklad: elza.daoimport.convert.outputMimeType=image/tiff
elza.daoimport.convert.outputMimeType=

# Přípona souboru po konverzi. Nastavení je povinné pokud má docházet ke konverzi
# Příklad: elza.daoimport.convert.outputExtension=tiff
elza.daoimport.convert.outputExtension=