@import "../../../variables.scss";
$deletion-color: $color-red;
$addition-color: $color-green;

.revision-display {
    display: flex;

    .constant {
        font-style: italic;
        margin-top: 5px;
        display: inline-block;
    }
    .arrow {
        font-style: normal;
        /* margin: 0 10px; */
        margin-left: 10px;
        margin-right: 10px;
    }

    &.equal-split {
        .value-previous {
            max-width: 50%;
            /* flex: 1; */
        }
        .value-current {
            width: 50%;
            flex: 1;
        }
    }

    &.expand-left {
        .value-previous {
            width: 50%;
            flex: 1;
        }
    }

    .colored {
        padding: 5px 8px;
        background-color: $shade-6;
        border-radius: 5px;
        border: 1px solid $shade-6;
    }

    .value-current {
        display: flex;
        flex-direction: column;

        &.colored {
            // background-color: lighten($color: $addition-color, $amount: 20);
            background-color: transparent;
            border-color: $addition-color;
            border-width: 2px;
        }
    }
    .value-previous {
        &.colored {
            // background-color:lighten($color: $deletion-color, $amount: 20);
            background-color: transparent;
            border-color: $deletion-color;
            border-width: 2px;
        }
    }

    &.field {
        &.align-center {
            align-items: center;
        }
        .value-current {
            flex: 1;
        }
        .constant {
            margin-top: 0;
        }
    }
}
