.pagination-container {
    flex-shrink: 0;
    .pagination {
        margin: 0;

        a {
            cursor: default;
            
            &.disabled {
                cursor: not-allowed;
            }
        }
        
        .input > span {
            padding: 0;
            height: 31px;
            input, select {
                height: 100%;
                border: none;
            }
            input {
            }
        }
    }
}
