.datagrid-columns-settings-container {
    .panels-container {
        display: flex;
        height: 100%;
        
        .left {
            flex-grow: 1;
            border: 1px solid silver;
            width: 50%;
            
            .listbox-container {
                height: 400px;
                overflow: auto;
            }
        }
        .center {
            
        }
        .right {
            flex-grow: 1;
            border: 1px solid silver;
            width: 50%;
            
            .listbox-container {
                height: 400px;
                overflow: auto;
            }
        }
    }
}
