@emptyColWidth: 8000px;
@focus-background: #f9f9f9;
@selected-index-background: #f0f0f0;
@selected-background: #EAECF5;
@selected-both-background: #DEE2F5;
@header-background: #ececec;
@header-height: 40px;

.datagrid-container {
    border: 1px solid silver;
    width: 1200px;
    _width: 100%;
    _height: 300px;
    
    .header-container {
        overflow: hidden;
        height: @header-height;
        background: @header-background;
        border-bottom: 1px solid silver;
        
        table {
            table-layout:fixed;
            height: 100%;
            
            th {
                border: 1px solid silver;
                border-bottom: none;
                font-weight: normal;

                &.th-empty-scroll {
                    width: @emptyColWidth;
                }
                
                .cell-container {
                    overflow: hidden;
                    width: 100%;
                    height: @header-height;
                    float: left;
                    
                    .value {
                        height: 100%;
                    }
                }
                
                .Resizer {
                    float: right;
                    height: @header-height;
                }
            }
        }
    }
    .body-container {
        height: calc(~"100% - 40px");
        overflow: scroll;
        
        table {
            table-layout:fixed;
            
            tr {
                &.focus {
                    //background: @focus-background;
                }
                &.selected {
                    background: @selected-background;
                }
                &.selected-index {
                    background: @selected-index-background;
                }
                &.selected.selected-index {
                    background: @selected-both-background;
                }
                
                td {
                    border: 1px solid #D0D7E5;
                    cursor: default;

                    &.focus {
                        //background: @focus-background;
                    }
                    &.cell-focus {
                        outline: 1px solid black;
                    }
                    
                    .cell-container {
                        overflow: hidden;
                        width: 100%;
                        height: 100%;
                        
                        .value {
                            height: 100%;
                        }                        
                    }                
                }
                
                &:first-child {
                    td {
                        border-top: none;
                    }
                }
            }
        }
    }
}
