.pagination-container {
    .pagination {
        margin: 0;

        .input > span {
            padding: 0;
            height: 31px;
            input, select {
                height: 100%;
                border: none;
            }
            input {
            }
        }
    }
}
