@import "~variables.less";

@ribbon-font-size: 20px;

.ribbon-menu {
    padding: 1px 0 0 6px;
    .content {
        .btn {
            height: 62px;
            .glyphicon {
                display: block;
                font-size: @ribbon-font-size;
            }
            > span {
                display: block;
            }
        }
    }
}
