@import "~bootstrap/less/variables.less";

@ribbon-font-size: 20px;

.ribbon-menu {
    .content {
        .btn {
            height: 64px;
            padding: 4px;
            .glyphicon {
                display: block;
                font-size: @ribbon-font-size;
            }
            > span {
                display: block;
            }
        }
    }
}
