@import "../../variables";

.button {
    color: $defaultBtnColor;

    &[class*="btn-outline-"] {
        background: $shade-0;

        &:hover {
            color: initial;
            background: $outlineBtnHoverBg;
        }
    }

    &:global(.btn-link) {
        color: $color-link;
    }
}
