$autocomplete-tree-depth: 14px;
$party-item-padding: 5px;

.tree-list{
    height: 100%;
    overflow: auto;

    .group-title {
        //background-color: #eee;
        color: #444;
        font-style: italic;
        padding: 3px 5px;
        display: flex;
        align-items: center;

        .title-text{
            flex-shrink: 0;
        }
        hr{
            width: 100%;
            margin: 0;
            margin: 0px 5px;
        }
    }

    .item {
        cursor: pointer;
        display: flex;
        padding: 2px 5px;

        .depth-container {
            display: inline-block;
            .depth-item {
                display: inline-block;
                width: $autocomplete-tree-depth;
            }
        }
        .item-text {
            display: inline-block;
            margin-right: 8px;
            //padding: 0 4px;
            white-space: nowrap;
            flex-shrink: 0;
        }
        &.not-selectable {
            cursor: default;
            .item-text {
                color: #808080;
            }
        }
        &.not-focusable {
            padding: 4px 0 2px 0;
            cursor: default;
            .item-text {
                color: #b9b9b9;
                font-style: italic;
            }
        }
        .node-expand-collapse {
            cursor: pointer;
            width: 20px;
            display: inline-block;
            //width: 16px;
            padding: 0px 4px 0px 5px;
            vertical-align: middle;
            flex-shrink: 0;
            &.expanded {
            }
            &.collapsed {
            }
        }
        &.active {
            font-weight: bold;
        }
        &.focus {
            background: #afafaf;
        }
        &.focus.not-focusable {
            background: transparent;
        }
        &.focus.not-selectable {
            background: #dfdfdf;
        }
    }
}
