@fa-tree-level-margin: 8px;

.fa-tree {
    .exp-col {
        display: inline-block;
        width: 18px;
    }
    .active {
        background: silver;
    }
    .level0 {
        margin-left: 0 * @fa-tree-level-margin;
    }
    .level1 {
        margin-left: 1 * @fa-tree-level-margin;
    }
    .level2 {
        margin-left: 2 * @fa-tree-level-margin;
    }
    .level3 {
        margin-left: 3 * @fa-tree-level-margin;
    }
    .level4 {
        margin-left: 4 * @fa-tree-level-margin;
    }
    .level5 {
        margin-left: 5 * @fa-tree-level-margin;
    }
}
