.fixed-dropdown {
  .dropdown-menu {
    position:fixed;
    right:auto;
  }
  .dropdown-menu-right {
    left:auto;
  }
  .dropdown {
    .dropdown-menu {
      top:auto;
    }
    .dropdown-menu-right {
      top:auto;
    }
  }
  .dropup {
    .dropdown-menu {
      bottom:auto;
    }
    .dropdown-menu-right {
      bottom:auto;
    }
  }
}