@import "../../../variables.scss";
.list-pager {
    background-color: $contrast-color;
    color: $contrast-color-fg;
    display: flex;
    height: 30px;
    align-items: center;
    .arrow-left {
        margin-left: 10px;
        margin-right: auto;
        cursor: pointer;
    }
    .middle-text {
        align-self: center;
        font-weight: 900;
    }
    .arrow-right {
        margin-left: auto;
        margin-right: 10px;
        cursor: pointer;
    }
}
